<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>合作商户支付方式信息</title>
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <script src="../../static/lib/js/utils.js" th:src="@{/lib/js/utils.js}"></script>
    <script src="../../static/lib/My97DatePicker/WdatePicker.js"
            th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <script src="../../static/lib/My97DatePicker/calendar.js" th:src="@{/lib/My97DatePicker/calendar.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../static/lib/kindeditor-4.1.7/themes/default/default.css"
          th:href="@{/lib/kindeditor-4.1.7/themes/default/default.css}"/>
    <script src="../../static/lib/kindeditor-4.1.7/kindeditor-all-min.js"
            th:src="@{/lib/kindeditor-4.1.7/kindeditor-all-min.js}"></script>
    <script src="../../static/lib/kindeditor-4.1.7/lang/zh_CN.js"
            th:src="@{/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>


    <script src="../../static/lib/js/common.js" th:src="@{/lib/js/common.js}"></script>
    <script src="../../static/js/merchant_pay/merchant_pay.js" th:src="@{/js/merchant_pay/merchant_pay.js}"></script>

    <!--<script src="http://upms.eastdc.cn:82/scripts/common.js"></script>-->
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <style>
        p.title {
            font-size: 18px;
            font-weight: bold;
        }

        .inputw100 {
            width: 100px;
        }

        #contentTable td.alignleft {
            text-align: left;
        }

        #contentTable td.alignright {
            text-align: right;
        }

        .form-horizontal .control-group .controls input {
            float: none;
        }

        .form-horizontal .control-group .controls label {
            float: none;
        }
        .border{
            border-bottom: 1px solid #ddd;
        }
        .pb10{
            padding-bottom: 10px;
        }
        .mt15{
            margin-top: 15px;
        }
        .mb20{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="pb10 border mt20">
            当前位置：<a href="javascript:;">场馆</a> < <a href="javascript:;">合作商家</a> < <a href="javascript:;">支付方式</a>
        </div>
        <form class="form-horizontal" action="/MerchantPayController/merchant_pay.html" id="searchForm" method="POST">
            <input type="hidden" id="myPage" name="page" th:value="${page}">
            <input type="hidden" name="pageSize" id="pageSize" th:value="${pageSize}">
            <input type="hidden" name="mainstadium_id" id="mainstadium_id" th:value="${mainstadium_id}">
            <input type="hidden" name="merchantId" id="merchantId" th:value="${merchant_id}">
        </form>
        <div>
            <button type="button" class="btn btn-success fr mb20" id="back">返回</button>
            <button type="button" class="btn btn-success fl mb20" id="addMerchant">新增</button>
        </div>
        <div>
            <table id="dataTable" class="table table-bordered" >

                <thead>
                <tr>
                    <th>支付方式</th>
                    <th>账号</th>
                    <th>合作身份ID</th>
                    <th>应用ID</th>
<!--                    <th>支付KEY</th>-->
                    <th>签名方式</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody th:remove="all-but-first" th:unless="${#lists.isEmpty(merchant_payList)}">
                <tr th:each="obj, objStat: ${merchant_payList}">
                    <input type="hidden" th:value="${obj.id}"/>
                    <td th:text="${obj.pay_way}"></td>
                    <td th:text="${obj.seller_id}"></td>
                    <td th:text="${obj.partner_id}"></td>
                    <td th:text="${obj.app_id}"></td>
<!--                    <td th:text="${obj.pay_key}"></td>-->
                    <td th:text="${obj.sign_type}"></td>
                    <td>
                        <a id="edit" th:data="${obj.id}"
                           th:href="@{/MerchantPayController/edit.html(id=${obj.id},mainstadium_id=${mainstadium_id},merchantId=${merchant_id})}">编辑</a>

                </tr>
                </tbody>


                <tbody th:if="${#lists.isEmpty(merchant_payList)}">
                <tr>
                    <td colspan="12">没有符合查询条件的记录！</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="page" class="page" align="right" style="margin-right: 10px;">
        </div>
    </div>
</section>
<div id="addDialogs">
</div>
</body>
<script th:inline="javascript">
    $(function () {
        laypage({
            cont: 'page',
            pages: [[${pageModel.totalPage}]], //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
            curr: function () { //通过url获取当前页，也可以同上（pages）方式获取
                var page = [[${pageModel.currentPage}]];
                return page;
            }(),
            jump: function (e, first) { //触发分页后的回调
                if (!first) { //一定要加此判断，否则初始时会无限刷新
                    $("#myPage").val(e.curr);
                    $("#searchForm").submit();
                }
            }
        });
    });
</script>
</html>