<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增课程</title>
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <script th:src="@{/lib/js/json2.js}"></script>
    <script src="../../static/lib/js/jquery.form.js" th:src="@{/lib/js/jquery.form.js}"></script>
    <script src="../../static/js/upload/ajaxfileupload.js" th:src="@{/js/upload/ajaxfileupload.js}"></script>
    <script src="../../static/lib/js/utils.js" th:src="@{/lib/js/utils.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../static/lib/kindeditor-4.1.7/themes/default/default.css"
          th:href="@{/lib/kindeditor-4.1.7/themes/default/default.css}"/>
    <script src="../../static/lib/kindeditor-4.1.7/kindeditor-all-min.js"
            th:src="@{/lib/kindeditor-4.1.7/kindeditor-all-min.js}"></script>
    <script src="../../static/lib/kindeditor-4.1.7/lang/zh_CN.js"
            th:src="@{/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>

    <script src="../../static/js/curriculum/curriculumCommon.js" th:src="@{/js/curriculum/curriculumCommon.js}"></script>
    <script src="../../static/js/curriculum/addcurriculum.js" th:src="@{/js/curriculum/addcurriculum.js}"></script>

    <script src="../../static/lib/js/common.js" th:src="@{/lib/js/common.js}"></script>
    <!--<script src="../../static/lib/js/area.js" th:src="@{/lib/js/area.js}"></script>-->
    <!--<script src="http://upms.eastdc.cn:82/scripts/common.js"></script>-->
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <style>
        p.title {
            font-size: 18px;
            font-weight: bold;
        }

        .inputw100 {
            width: 100px;
        }

        #contentTable td.alignleft {
            text-align: left;
        }

        #contentTable td.alignright {
            text-align: right;
        }

        .form-horizontal .control-group .controls input {
            float: none;
        }

        .form-horizontal .control-group .controls label {
            float: none;
        }

        .border {
            border-bottom: 1px solid #ddd;
        }

        .pb10 {
            padding-bottom: 10px;
        }

        .mt15 {
            margin-top: 15px;
        }

        .mb20 {
            margin-bottom: 20px;
        }
        .big-photo img {
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
<section>
    <div class="container-fluid" style="margin-top: 20px;height:120px;">
        <div class="pb10 border">
            当前位置：<a href="javascript:;">培训课程</a> < <a href="javascript:;">新增</a>
        </div>
        <form onsubmit="return false;" class="form-horizontal mt15" action="#" id="addForm" method="post">
            <input type="hidden" name="mainstadium_id" id="mainstadium_id">
            <table id="contentTable" class="table table-bordered table-hover definewidth m10 control-group">
                <tr class="controls" style="background-color: #ededed"><td class="alignright" width="10%">基本信息</td><td></td></tr>
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>课程名称</td>
                    <td class="alignleft"><input type="text" id="name" name="name" required="required"/></td>
                </tr>
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>课程图片</td>
                    <td class="alignleft">
                        <div class="big-photo">
                            <div id="preview">
                                <img id="imgImg" name="imgImg" border="0"  src="/img/add.png" width="90" height="90" onclick="$('#previewImg').click();">
                                <input type="file" id="previewImg" name="previewImg" style="display:none;">
                                <input type="hidden" id="img_url" name="img_url" value="">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="alignright" width="10%"><span class="red">*</span>培训机构</td>
                    <td class="alignleft">
                        <select id="training_institutions_id" name="training_institutions_id" required="required">
                            <option th:each="obj,eStat:${trainingInstitutions}" th:value="${obj.id}"
                                    th:text="${obj.org_name}"></option>
                        </select>  
                    </td>
                </tr>

                <tr>
                    <td class="alignright" width="10%"><span class="red">*</span>合作商户</td>
                    <td class="alignleft">
                        <select id="cooperative_merchant_id" name="cooperative_merchant_id">
                            <option th:each="obj,eStat:${merchantList}" th:value="${obj.id}" th:text="${obj.merchant_name}"></option>
                        </select>  
                    </td>
                </tr>
                <tr class="controls" style="background-color: #ededed"> <td class="alignright" width="10%">课程详情</td><td></td></tr>
                <tr class="controls">
                    <td class="alignright" width="10%"><span class="red">*</span>培训分类</td>
                    <td class="alignleft">
                        <select id="train_type" name="train_type">
                            <option th:each="obj,eStat:${curiculumTypes}" th:value="${obj.code}"
                                    th:text="${obj.name}"></option>
                        </select>  
                    </td>
                </tr>
                <tr class="controls">
                    <td class="alignright">课程介绍</td>
                    <td class="alignleft">
                        <textarea id="m_content" name="content" style="width:700px;height:300px;"></textarea>
                    </td>
                </tr>
                <tr style="background-color: #ededed" class="controls"><td class="alignright" width="10%">报名设置</td><td></td></tr>
                <tr class="controls">
                    <td class="alignright" width="10%">课程地点</td>
                    <td class="alignleft"><input type="text" id="address" name="address" required="required"/></td>
                </tr>
                <tr class="controls">
                    <td class="alignright" width="10%">咨询电话</td>
                    <td class="alignleft"><input type="text" id="phone" name="phone" required="required"/></td>
                </tr>
                <tr class="controls" style="background-color: #ededed">
                    <td class="alignright" width="10%">报名须知</td>
                    <td></td>
                </tr>
                <tr class="controls">
                    <td class="alignright">报名须知</td>
                    <td class="alignleft">
                        <textarea id="enrollment_read" name="enrollment_read"
                                  style="width:700px;height:300px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" colspan="2">
                        <button type="submit" class="btn btn-success" id="saveMerchant">保存</button>
                        <button type="button" class="btn btn-success" id="cancelMerchant">取消</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</section>
<div id="addDialogs">
</div>
</body>
<script type="text/javascript">
    $(function () {
        var valConfig = {
            excluded: [":disabled"],
            ignore: "",
            rules: {
                name: {
                    required: true,
                    maxlength: 50
                }
                ,
                img_url: {
                    required: true
                }
                ,
                training_institutions_id: {
                    required: true
                }
                ,
                cooperative_merchant_id: {
                    required: true
                }
                ,
                train_type: {
                    required: true
                }
                ,
                address: {
                    required: false,
                    maxlength: 100
                }
                ,
                phone: {
                    required: false,
                    maxlength: 16
                }
                ,
                content: {
                    maxlength: 1000
                }
                ,
                enrollment_read: {
                    maxlength: 1000
                }
            },
            messages: {
                name: {
                    required: "请填写课程名称"
                }
                ,
                img_url: {
                    required: "请上传课程图片"
                }
                ,
                training_institutions_id: {
                    required: "请选择培训机构"
                }
                ,
                cooperative_merchant_id: {
                    required: "请选择合作商户"
                }
                ,
                train_type: {
                    required: "请选择课程分类"
                }
                ,
                address: {
                    required: "请填写课程地点"
                }
                ,
                phone: {
                    required: "请填写咨询电话"
                }
            },
            submitHandler: function () {
                doAdd();
            }
        };
        $('#addForm').validate(valConfig);
    });
</script>
</html>