<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <script src="../../static/lib/js/utils.js" th:src="@{/lib/js/utils.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../static/lib/kindeditor-4.1.7/themes/default/default.css"
          th:href="@{/lib/kindeditor-4.1.7/themes/default/default.css}"/>
    <script src="../../static/lib/kindeditor-4.1.7/kindeditor-all-min.js"
            th:src="@{/lib/kindeditor-4.1.7/kindeditor-all-min.js}"></script>
    <script src="../../static/lib/kindeditor-4.1.7/lang/zh_CN.js"
            th:src="@{/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>

    <script src="../../static/lib/js/common.js" th:src="@{/lib/js/common.js}"></script>
    <script src="../../static/js/curriculum/sign_up_view.js" th:src="@{/js/curriculum/sign_up_view.js}"></script>
    <script src="../../static/js/curriculum/dateformat.js" th:src="@{/js/curriculum/dateformat.js}"></script>

    <!--<script src="http://upms.eastdc.cn:82/scripts/common.js"></script>-->
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <style>
        p.title {
            font-size: 18px;
            font-weight: bold;
        }

        .inputw100 {
            width: 100px;
        }

        #contentTable td.alignleft {
            text-align: left;
        }

        #contentTable td.alignright {
            text-align: right;
        }

        .form-horizontal .control-group .controls input {
            float: none;
        }

        .form-horizontal .control-group .controls label {
            float: none;
        }

        .border {
            border-bottom: 1px solid #ddd;
        }

        .pb10 {
            padding-bottom: 10px;
        }

        .mt15 {
            margin-top: 15px;
        }

        .mb20 {
            margin-bottom: 20px;
        }
    </style>

</head>
<body>
<div class="container-fluid">
    <div class="pb10 border mt20">
        当前位置：<a href="javascript:;">培训课程</a> < <a href="javascript:;">查看报名</a>
    </div>
        <table class="">
            <tr class="controls">
                <td >培训类型：<select id="train_type" name="train_type">
                    <option value="">全部</option>
                    <option th:each="obj,eStat:${curriculumTypes}" th:value="${obj.code}"
                            th:text="${obj.name}"></option>
                </select>
                </td>
            </tr>
            <tr>
                <td >培训机构：<select id="training_institutions_id" name="training_institutions_id">
                    <option value="">全部</option>
                    <option th:each="obj,eStat:${institutionList}" th:value="${obj.id}"
                            th:text="${obj.org_name}"></option>
                </select>
                </td>
                <td >课程名称：<select id="name" name="name">
                    <option value="">全部</option>
                    <option th:each="obj,eStat:${curriculumList}" th:value="${obj.id}"
                            th:text="${obj.name}"
                            th:selected="${#strings.contains(curriculum_id,obj.id)}"></option>
                </select>
                </td>
                <td >班次名称：<select id="class_name" name="class_name">
                    <option value="">全部</option>
                    <option th:each="obj,eStat:${curriculumClassList}" th:value="${obj.id}"
                            th:text="${obj.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td >手机号：<input type="text" id="phone" name="phone"/>
                </td>
                <td >姓名：<input type="text" id="student_name" name="student_name"/>
                </td>
                <td >
                    <button type="button" id="query" class="btn btn-success" >查询</button>
                    <button type="button" id="back" class="btn btn-success" >返回</button>
                </td>
            </tr>
        </table>
    <div>
        <table id="dataTable" class="table table-bordered">
            <thead>
            <tr>
                <th>
                    课程名称
                </th>
                <th>培训机构</th>
                <th>培训类型</th>
                <th>班次</th>
                <th>开课日期</th>
                <th>上课时间</th>
                <th>学员</th>
                <th>手机</th>
                <th>报名时间</th>
                <th>缴费金额</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
    <div id="page" class="page" align="right" style="margin-right: 10px;">
    </div>
</div>
</body>
<script th:inline="javascript">
</script>
</html>