<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>合作商户账户新增页面</title>
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <script src="../../static/js/merchantaccount/merchant_account_add.js" th:src="@{/js/merchantaccount/merchant_account_add.js}"></script>

    <!--<script src="http://upms.eastdc.cn:82/scripts/common.js"></script>-->
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <style>
        p.title{font-size:18px;font-weight: bold;}
        .inputw100{width:100px;}
        #contentTable td.alignleft{text-align: left;}
        #contentTable td.alignright{text-align: right;}
        .form-horizontal .control-group .controls input {float:none;}
        .form-horizontal .control-group .controls label {float: none;}
    </style>
</head>
<body>
    <section>
        <div class="container-fluid" style="margin-top: 30px;height:120px;">
            <p class="title">添加账户</p>
            <form onsubmit="return false;" class="form-horizontal" action="#" id="addMerchantAccountForm">
                <table id="contentTable" class="table table-bordered table-hover definewidth m10 control-group">
                    <tr class="controls" hidden>
                        <td width="10%" class="alignright"><span class="red">*</span>主场馆</td>
                        <td class="alignleft">
                            <input type="text" id="mainStadiumId" th:value="${mainStadiumId}">
                        </td>
                    </tr>
                    <tr class="controls" hidden>
                        <td width="10%" class="alignright"><span class="red">*</span>合作商户</td>
                        <td class="alignleft">
                            <input type="text" id="merchantId" th:value="${merchantId}">
                        </td>
                    </tr>
                    <tr class="controls">
                        <td class="alignright" width="10%"><span class="red">*</span>选择用户</td>
                        <td class="alignleft">
                            <table class="table table-bordered" th:unless="${#lists.isEmpty(accountList)}">
                                <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>用户名</th>
                                    <th>姓名</th>
                                    <th>角色</th>
                                </tr>
                                </thead>
                                <tbody id="accountListBody">
                                </tbody>
                                <tbody th:if="${#lists.isEmpty(accountList)}">
                                <tr>
                                    <td colspan="4">没有符合查询条件的记录！</td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="page" class="page" align="right" style="margin-right: 10px;"></div>
                        </td>
                    </tr>
                    <tr class="controls">
                        <td class="alignright" width="10%"><span class="red">*</span>子场馆</td>
                        <td class="alignleft">
                            <div>
                                <input type="checkbox" id="subStadiumCheckAll">全选/全不选
                            </div>
                            <div>
                                <input type="checkbox" name="subStadiumCheck" th:each="subStadium, objStat: ${subStadiumList}" th:value="${subStadium.id}" th:text="${subStadium.name}">
                            </div>
                            <label id="fieldCheck-error" class="error" for="subStadiumCheck"></label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-success" id="addWindowPayment">保存</button>
                            <a th:href="@{/merchantAccount/merchantAccountList.html(mainstadium_id=${mainStadiumId},merchantId=${merchantId})}">
                                <button type="button" class="btn btn-success" id="cancelBtn">返回</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
    <script th:inline="javascript">
        $(function () {
            var nums = 5; //用户每页展示的数据量

            var accountList= [[${accountList}]];
            //分页数据渲染
            var render = function(curr){
                //此处只是演示，实际场景通常是返回已经当前页已经分组好的数据
                var str = '', last = curr*nums - 1;
                last = last >= accountList.length ? (accountList.length-1) : last;
                for(var i = (curr*nums - nums); i <= last; i++){
                    str += '<tr><td><input type="checkbox" name="loginIdCheck" value="'+ accountList[i].id + '"></td>';
                    str += '<td>'+ accountList[i].account + '</td>';
                    str += '<td>'+ accountList[i].name + '</td>';
                    var roleList = "";
                    if(accountList[i].hasOwnProperty("roleList")){
                        roleList = accountList[i].roleList;
                    }
                    str += '<td>'+ roleList + '</td></tr>';
                }
                return str;
            };

            //调用分页
            laypage({
                cont: 'page',
                pages: Math.ceil(accountList.length/nums), //得到总页数
                jump: function(obj){
                    $("#accountListBody").html(render(obj.curr));
                }
            });
        });
    </script>
</body>
</html>