<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增场馆-基本信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="../../static/lib/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="../../static/lib/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../../static/lib/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/新增场馆-基本信息/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (水平线) -->
    <div id="u137" class="ax_default line">
        <img id="u137_img" class="img " src="images/新增场馆-基本信息/u137.png"/>
        <!-- Unnamed () -->
        <div id="u138" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u139" class="ax_default box_1">
        <div id="u139_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u140" class="text" style="visibility: visible;">
            <p><span>基本信息</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u141" class="ax_default label">
        <div id="u141_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u142" class="text" style="visibility: visible;">
            <p><span>子场馆</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u143" class="ax_default label">
        <div id="u143_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u144" class="text" style="visibility: visible;">
            <p><span>*名称：</span></p>
        </div>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u145" class="ax_default text_field">
        <input id="u145_input" type="text" value=""/>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u146" class="ax_default label">
        <div id="u146_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u147" class="text" style="visibility: visible;">
            <p><span>*区域：</span></p>
        </div>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u148" class="ax_default droplist">
        <select id="u148_input">
            <option selected value="江苏省">江苏省</option>
        </select>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u149" class="ax_default droplist">
        <select id="u149_input">
            <option selected value="苏州市">苏州市</option>
        </select>
    </div>

    <!-- Unnamed (下拉列表框) -->
    <div id="u150" class="ax_default droplist">
        <select id="u150_input">
            <option selected value="姑苏区">姑苏区</option>
            <option value="苏州工业园区">苏州工业园区</option>
        </select>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u151" class="ax_default text_field">
        <input id="u151_input" type="text" value="商圈（可不填）"/>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u152" class="ax_default label">
        <div id="u152_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u153" class="text" style="visibility: visible;">
            <p><span>*地址：</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u154" class="ax_default label">
        <div id="u154_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u155" class="text" style="visibility: visible;">
            <p><span>电话：</span></p>
        </div>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u156" class="ax_default text_field">
        <input id="u156_input" type="text" value=""/>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u157" class="ax_default text_field">
        <input id="u157_input" type="text" value=""/>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u158" class="ax_default label">
        <div id="u158_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u159" class="text" style="visibility: visible;">
            <p><span>*开放时间：</span></p>
        </div>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u160" class="ax_default text_field">
        <input id="u160_input" type="text" value=""/>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u161" class="ax_default label">
        <div id="u161_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u162" class="text" style="visibility: visible;">
            <p><span>合作商户</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u163" class="ax_default label">
        <div id="u163_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u164" class="text" style="visibility: visible;">
            <p><span>地理位置：</span></p>
        </div>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u165" class="ax_default text_field">
        <input id="u165_input" type="text" value="精度"/>
    </div>

    <!-- Unnamed (文本框) -->
    <div id="u166" class="ax_default text_field">
        <input id="u166_input" type="text" value="纬度"/>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u167" class="ax_default box_1">
        <div id="u167_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u168" class="text" style="visibility: visible;">
            <p><span>地图</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u169" class="ax_default label">
        <div id="u169_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u170" class="text" style="visibility: visible;">
            <p><span>简介：</span></p>
        </div>
    </div>

    <!-- Unnamed (多行文本框) -->
    <div id="u171" class="ax_default text_area">
        <textarea id="u171_input"></textarea>
    </div>

    <!-- Unnamed (正水滴形) -->
    <div id="u172" class="ax_default marker">
        <img id="u172_img" class="img " src="images/新增场馆-基本信息/u172.png"/>
        <!-- Unnamed () -->
        <div id="u173" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u174" class="ax_default label">
        <div id="u174_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u175" class="text" style="visibility: visible;">
            <p><span>移动位置图标，标记目的地地理位置</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u176" class="ax_default primary_button">
        <div id="u176_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u177" class="text" style="visibility: visible;">
            <p><span>地址定位</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u178" class="ax_default primary_button">
        <div id="u178_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u179" class="text" style="visibility: visible;">
            <p><span>保存</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u180" class="ax_default label">
        <div id="u180_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u181" class="text" style="visibility: visible;">
            <p><span>状态：</span></p>
        </div>
    </div>

    <!-- Unnamed (单选按钮) -->
    <div id="u182" class="ax_default radio_button">
        <label for="u182_input">
            <!-- Unnamed () -->
            <div id="u183" class="text" style="visibility: visible;">
                <p><span>正常</span></p>
            </div>
        </label>
        <input id="u182_input" type="radio" value="radio" name="u182"/>
    </div>

    <!-- Unnamed (单选按钮) -->
    <div id="u184" class="ax_default radio_button">
        <label for="u184_input">
            <!-- Unnamed () -->
            <div id="u185" class="text" style="visibility: visible;">
                <p><span>闭馆</span></p>
            </div>
        </label>
        <input id="u184_input" type="radio" value="radio" name="u184"/>
    </div>

    <!-- Unnamed (单选按钮) -->
    <div id="u186" class="ax_default radio_button">
        <label for="u186_input">
            <!-- Unnamed () -->
            <div id="u187" class="text" style="visibility: visible;">
                <p><span>下线</span></p>
            </div>
        </label>
        <input id="u186_input" type="radio" value="radio" name="u186" checked/>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u188" class="ax_default label">
        <div id="u188_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u189" class="text" style="visibility: visible;">
            <p><span>//下线状态，前台不可见；闭馆状态前台显示【不可订】</span></p><p><span>默认下线状态</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u190" class="ax_default label">
        <div id="u190_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u191" class="text" style="visibility: visible;">
            <p><span>场馆图片</span></p>
        </div>
    </div>
</div>
</body>
</html>