<div class="widget-content no-padding" th:fragment="dataList" xmlns:th="http://www.thymeleaf.org">
    <div id="dataTable_wrapper" class="dataTables_wrapper no-footer">
        <table id="dataTable" class="table table-bordered" th:unless="${#lists.isEmpty(orderList)}">
            <thead>
            <tr>
                <th>订单编号</th>
                <th>项目类型</th>
                <th>产品类型</th>
                <th>场馆</th>
                <th>产品名称</th>
                <th>下单时间</th>
                <th>订单金额</th>
                <th>订单来源</th>
                <th>手机</th>
                <th>订单状态</th>
                <!-- <th>退款状态</th>-->
                <th>操作</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="obj, objStat: ${orderList}">
                <input type="hidden" th:value="${obj.id}"/>
                <td th:text="${obj.orderNumber}"></td>
                <td th:text="${obj.categoryName}"></td>
                <td th:text="${obj.ticketType}"></td>
                <td th:text="${obj.stadiumName}"></td>
                <td th:text="${obj.ticketName}"></td>
                <td th:text="${obj.orderTime}"></td>
                <td th:text="${obj.sellPrice}"></td>
                <td th:text="${obj.orderChannel}"></td>
                <td th:text="${obj.userTel}"></td>
                <td th:text="${obj.status}"></td>
                <!--<td th:text="${obj.status}"></td>-->
                <td><a th:href="'/order/orderDetails.html?orderId='+${obj.id}">查看</a></td>
            </tr>
            </tbody>
            <tbody th:if="${#lists.isEmpty(orderList)}">
            <tr>
                <td colspan="12">没有符合查询条件的记录！</td>
            </tr>
            </tbody>
            <input id="pageAllCount" type="hidden" th:value="${page.totalSize}"/>
        </table>

    </div>
</div>
