<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>窗口支付新增页面</title>
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <script src="../../static/lib/My97DatePicker/WdatePicker.js" th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <script src="../../static/lib/My97DatePicker/calendar.js" th:src="@{/lib/My97DatePicker/calendar.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../static/lib/kindeditor-4.1.7/themes/default/default.css" th:href="@{/lib/kindeditor-4.1.7/themes/default/default.css}"/>
    <script src="../../static/lib/kindeditor-4.1.7/kindeditor-all-min.js" th:src="@{/lib/kindeditor-4.1.7/kindeditor-all-min.js}"></script>
    <script src="../../static/lib/kindeditor-4.1.7/lang/zh_CN.js" th:src="@{/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>
    <script src="../../static/js/windowpayment/window_payment_add.js" th:src="@{/js/windowpayment/window_payment_add.js}"></script>

    <!--<script src="http://upms.eastdc.cn:82/scripts/common.js"></script>-->
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <style>
        p.title{font-size:18px;font-weight: bold;}
        .inputw100{width:100px;}
        #contentTable td.alignleft{text-align: left;}
        #contentTable td.alignright{text-align: right;}
        .form-horizontal .control-group .controls input {float:none;}
        .form-horizontal .control-group .controls label {float: none;}
    </style>
</head>
<body>
    <section>
        <div class="container-fluid" style="margin-top: 30px;height:120px;">
            <p class="title">支付方式</p>
            <form onsubmit="return false;" class="form-horizontal" action="#" id="addWindowPaymentForm">
                <table id="contentTable" class="table table-bordered table-hover definewidth m10 control-group">
                    <tr class="controls" hidden>
                        <td width="10%" class="alignright"><span class="red">*</span>主场馆</td>
                        <td class="alignleft">
                            <input type="text" id="mainStadium" th:value="${mainStadium}">
                        </td>
                    </tr>
                    <tr class="controls">
                        <td width="10%" class="alignright"><span class="red">*</span>合作商户</td>
                        <td class="alignleft">
                            <select id="merchant" name="merchant">
                                <option th:each="merchant,eStat:${merchantList}" th:value="${merchant.id}" th:text="${merchant.merchant_name}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr class="controls">
                        <td class="alignright" width="10%"><span class="red">*</span>支付方式</td>
                        <td class="alignleft">
                            <select id="payment" name="payment">
                                <option th:each="payment,eStat:${paymentList}" th:value="${payment.id}" th:text="${payment.payment}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr class="controls">
                        <td class="alignright">备注</td>
                        <td class="alignleft">
                            <textarea id="remark" name="remark" style="width:500px;height:200px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-success" id="addWindowPayment">保存</button>
                            <a th:href="${'/windowPayment/windowPaymentList.html?mainstadium_id=' + mainStadium}">
                                <button type="button" class="btn btn-success" id="cancelBtn">返回</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
</body>
</html>