<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑子场馆</title>
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <script src="../../static/lib/js/utils.js" th:src="@{/lib/js/utils.js}"></script>
    <script src="../../static/lib/My97DatePicker/WdatePicker.js" th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <script src="../../static/lib/My97DatePicker/calendar.js" th:src="@{/lib/My97DatePicker/calendar.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../static/lib/kindeditor-4.1.7/themes/default/default.css" th:href="@{/lib/kindeditor-4.1.7/themes/default/default.css}"/>
    <script src="../../static/lib/kindeditor-4.1.7/kindeditor-all-min.js" th:src="@{/lib/kindeditor-4.1.7/kindeditor-all-min.js}"></script>
    <script src="../../static/lib/kindeditor-4.1.7/lang/zh_CN.js" th:src="@{/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>
    <script src="../../static/js/yearstrategy/yearstrategy_add.js" th:src="@{/js/yearstrategy/yearstrategy_add.js}"></script>

    <script src="../../static/js/substadium/substadium.js" th:src="@{/js/substadium/substadium.js}"></script>

    <script src="../../static/lib/js/common.js" th:src="@{/lib/js/common.js}"></script>
    <!--<script src="http://upms.eastdc.cn:82/scripts/common.js"></script>-->
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <style>
        p.title{font-size:18px;font-weight: bold;}
        .inputw100{width:100px;}
        #contentTable td.alignleft{text-align: left;}
        #contentTable td.alignright{text-align: right;}
        .form-horizontal .control-group .controls input {float:none;}
        .form-horizontal .control-group .controls label {float: none;}
    </style>
</head>
<body>
<section>
    <div class="container-fluid" style="margin-top: 30px;height:120px;">
        <form onsubmit="return false;" class="form-horizontal" action="#" id="editForm" method="post">
            <input type="hidden" name="id" id="id" th:value="${subStadium.id}"/>
            <input type="hidden" name="parent_id" id="parent_id" th:value="${subStadium.parent_id}"/>
            <input type="hidden" name="mainStadiumIdedit" id="mainStadiumIdedit" th:value="${mainStadiumId}"/>
            <table id="contentTable" class="table table-bordered table-hover definewidth m10 control-group">
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>名称</td>
                    <td class="alignleft"><input type="text" id="name" name="name" th:value="${subStadium.name}"/></td>
                </tr>
                <tr class="controls">
                    <td class="alignright" width="10%"><span class="red">*</span>所属项目</td>
                    <td class="alignleft">
                        <select id="classflyOne" >
                            <option th:each="obj,eStat:${ClassifyByMainList}" th:value="${obj.cid}" th:text="${obj.categoryName}" ></option>
                        </select>
                        <select id="classify" name="classify" >
                            <option th:each="obj,eStat:${classflyList}" th:value="${obj.cid}" th:text="${obj.categoryName}" th:selected="${#strings.contains(subStadium.classify,obj.cid)}"></option>
                        </select>
                    </td>
                </tr>
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>状态</td>
                    <td class="alignleft" id="checkone">
                        <input th:checked="${subStadium.status eq '1'}" type="radio" name="status" value="1">正常
                        <input th:checked="${subStadium.status eq '0'}" type="radio" name="status" value="0">闭馆
                        <input th:checked="${subStadium.status eq '2'}" type="radio" name="status" value="2">下线
                    </td>
                </tr>

                <tr class="controls">
                    <td class="alignright" width="10%"><span class="red">*</span>子馆图片</td>
                    <td class="alignleft"><input type="text" id="address" name="address"/></td>
                </tr>
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>简介</td>
                    <td class="alignleft">
                        <textarea id="introduction" name="introduction" style="width:500px;height:100px;" th:text="${subStadium.introduction}"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="tableleft"></td>
                    <td class="text-right">
                        <button type="submit" class="btn btn-success" id="editSubstadium">保存</button>
                        <button type="submit" class="btn btn-success" id="cancelSubstadium">取消</button>

                    </td>
                </tr>
            </table>
        </form>
    </div>
</section>
</body>
<script type="text/javascript">
    $(function () {
        var valConfig = {
            rules: {
                title: {
                    required: true,
                    minlength: 2
                }
            },
        };
        $('#editForm').validate(valConfig);
    });
</script>
</html>
