<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加散票/年票策略</title>
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <script src="../../static/lib/js/utils.js" th:src="@{/lib/js/utils.js}"></script>
    <script src="../../static/lib/My97DatePicker/WdatePicker.js" th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <script src="../../static/lib/My97DatePicker/calendar.js" th:src="@{/lib/My97DatePicker/calendar.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../static/lib/kindeditor-4.1.7/themes/default/default.css" th:href="@{/lib/kindeditor-4.1.7/themes/default/default.css}"/>
    <script src="../../static/lib/kindeditor-4.1.7/kindeditor-all-min.js" th:src="@{/lib/kindeditor-4.1.7/kindeditor-all-min.js}"></script>
    <script src="../../static/lib/kindeditor-4.1.7/lang/zh_CN.js" th:src="@{/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>
    <script src="../../static/js/yearstrategy/yearstrategy_add.js" th:src="@{/js/yearstrategy/yearstrategy_add.js}"></script>

    <!--<script src="http://upms.eastdc.cn:82/scripts/common.js"></script>-->
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <style>
        p.title{font-size:18px;font-weight: bold;}
        .inputw100{width:100px;}
        #contentTable td.alignleft{text-align: left;}
        #contentTable td.alignright{text-align: right;}
        .form-horizontal .control-group .controls input {float:none;}
        .form-horizontal .control-group .controls label {float: none;}
        .border{border-bottom: 1px solid #ddd;}
        .pb10{padding-bottom: 10px;}
    </style>
</head>
<body>

<section>
    <div class="container-fluid">
        <div class="pb10 border mt20">
            当前位置：<a href="javascript:;">场馆预订</a> < <a href="javascript:;">门票</a> < <a href="javascript:;">新增散客/年卡</a>
        </div>
        <p class="title mt20">新增年卡/散卡生成策略</p>
        <form onsubmit="return false;" class="form-horizontal" action="#" id="addForm">
        <table id="contentTable" class="table table-bordered table-hover definewidth m10 control-group">
            <tr class="controls">
                <th colspan="2">基本信息</th>
            </tr>
            <tr class="controls">
                <td class="alignright" width="10%"><span class="red">*</span>套票类型</td>
                <td class="alignleft">
                    <select id="ticketType">
                        <option value="0">单票</option>
                        <option value="1">场地票</option>
                    </select>
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright" width="10%"><span class="red">*</span>主场馆</td>
                <td class="alignleft">
                    <select id="mainStadiumID">
                            <option th:each="mainStadium,eStat:${mainStadiumList}" th:value="${mainStadium.id}" th:text="${mainStadium.name}"></option>
                    </select>
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright" width="10%"><span class="red">*</span>可用子场馆</td>
                <td class="alignleft">
                    <select id="subStadiumID">
                    </select>
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>门票名称</td>
                <td class="alignleft"><input type="text" id="ticketName" name="ticketName"/></td>
            </tr>
            <tr class="controls">
                <td width="10%" class="alignright"><span class="red">*</span>合作商</td>
                <td class="alignleft">
                    <select id="merchantId">
                        <option th:each="merchant,eStat:${merchantList}" th:value="${merchant.id}" th:text="${merchant.merchant_name}"></option>
                    </select>
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>售卖渠道</td>
                <td class="alignleft">
                    <input type="checkbox" checked="checked" value="0" name="sellWay">线上售卖<input type="checkbox" value="1" name="sellWay">窗口售卖
                </td>
            </tr>
            <tr class="controls">
              <th colspan="2">预订规则</th>
            </tr>
            <tr class="controls">
                <td class="alignright" width="15%">使用有效期</td>
                <td class="alignleft">
                    <div style="border:1px red dashed;">
                    <p><input type="radio" checked name="orderEffectiveType" value="0">预订之后<input style="width:35px;" type="text" id="fixDay">天有效</p>
                    <p><input type="radio" name="orderEffectiveType" value="1">固定有效期
                        <!--指定 date标记-->
                        <input type='text' style="float:none" id="orderEffectiveStartTime" name="orderEffectiveStartTime" class="inputw100 form-control" onClick="WdatePicker()"/>至
                        <input type='text' style="float:none" id="orderEffectiveEndTime" name="orderEffectiveEndTime" class="inputw100 form-control" onClick="WdatePicker()"/>
                    </p>
                    </div>
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>退票规则</td>
                <td class="alignleft">
                    <input  type="radio" checked name="orderRefundRule" id="orderR0" value="0"><label style="display:inline" for="orderR0">不可退</label>
                    <input type="radio" name="orderRefundRule" id="orderR1" value="1"><label style="display:inline" for="orderR1">随时退</label>
                    <input type="radio" name="orderRefundRule" id="orderR2" value="2"><label style="display:inline" for="orderR2">条件退</label>
                </td>
            </tr>
            <tr class="controls">
                <th colspan="2">验票规则</th>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>验票凭证</td>
                <td class="alignleft">
                    <input value="0" type="checkbox" checked name="checkTicketType">验证码
                    <input value="1" type="checkbox" name="checkTicketType">身份证
                    <input value="2" type="checkbox" name="checkTicketType">市民卡
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>验票渠道</td>
                <td class="alignleft">
                    <input value="0" checked type="checkbox" name="checkTicketWay">支持闸机验票
                    <input value="1" type="checkbox" name="checkTicketWay">支持窗口验票
                    <input value="2" type="checkbox" name="checkTicketWay">支持手持终端验票
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>限制次数</td>
                <td class="alignleft">
                    <input type="radio" checked name="checkTicketAvailableTimes" id="checkTicketAvailableTimes0" value="0"><label style="display:inline" for="checkTicketAvailableTimes0">不限</label>
                    <input type="radio" name="checkTicketAvailableTimes" id="checkTicketAvailableTimes1" value="1"><label style="display:inline" for="checkTicketAvailableTimes1">限次</label><input style="width:35px;" type="text" id="fixAvailableTimes">
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright">每日次数</td>
                <td class="alignleft">
                   <input style="width:35px;" type="text" id="checkDailyLimitedTimes" name="checkDailyLimitedTimes">
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright" width="15%"><span class="red">*</span>时间限制</td>
                <td class="alignleft">
                    <div style="border:1px red dashed;">
                        <p><input type="radio" checked name="checkLimitedDateType" id="checkLimitedDateType0" value="0"><label style="display:inline" for="checkLimitedDateType0">每日</label>
                            <input type="radio" name="checkLimitedDateType" id="checkLimitedDateType1" value="1"><label style="display:inline" for="checkLimitedDateType1">每周</label>
                            <div id="weekChooseDiv">
                            <input value="1" type="checkbox" name="checkLimitedWeekDetails">星期一
                            <input value="2" type="checkbox" name="checkLimitedWeekDetails">星期二
                            <input value="3" type="checkbox" name="checkLimitedWeekDetails">星期三
                            <input value="4" type="checkbox" name="checkLimitedWeekDetails">星期四
                            <input value="5" type="checkbox" name="checkLimitedWeekDetails">星期五
                            <input value="6" type="checkbox" name="checkLimitedWeekDetails">星期六
                            <input value="7" type="checkbox" name="checkLimitedWeekDetails">星期日
                            </div>
                    </div>
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright">可用时段</td>
                <td class="alignleft">
                    <input style="width:105px;float: none" type="text" id="checkLimitedStartTime" onClick="WdatePicker({dateFmt:'HH:mm',startDate:'07:00',alwaysUseStartDate:true,maxDate:'#F{$dp.$D(\'checkLimitedEndTime\',{m:-30})}'})" class="Wdate">
                    <span>至</span>
                    <input style="width:105px;float: none;" type="text" id="checkLimitedEndTime" onClick="WdatePicker({dateFmt:'HH:mm',minDate:'#F{$dp.$D(\'checkLimitedStartTime\',{m:30})}'})"  class="Wdate">
                    <input type="button" class="btn" value="添加" id="addLimitedStartAndEndBtn">
                    <span>
                        <select id="limitedStartAndEndTimeSelects" multiple="multiple" style="width:150px;">
                        </select>
                    </span>
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>是否限时</td>
                <td class="alignleft">
                    <input type="radio" checked name="checkLimitedHoursR" id="checkLimitedHours0" value="0"><label style="display:inline" for="checkTicketAvailableTimes0">不限</label>
                    <input type="radio" name="checkLimitedHoursR" id="checkLimitedHours1" value="1"><label style="display:inline" for="checkTicketAvailableTimes1">限时</label><input style="width:35px;" type="text" id="checkLimitedHours">(小时)
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright">不可用日期</td>
                <td class="alignleft">
                    <input style="width:105px;float: none" type="text" id="shieldStartTime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'shieldEndTime\')}'})" class="Wdate">
                    <span>至</span>
                    <input style="width:105px;float: none;" type="text" id="shieldEndTime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'shieldStartTime\')}'})"  class="Wdate">
                    <input type="button" class="btn" value="添加" id="addShieldStartAndEndBtn">
                    <span>
                        <select id="shieldStartTimeAndEndTimeSelects" multiple="multiple" style="width:250px;">
                        </select>
                    </span>
                </td>
            </tr>
            <tr class="controls">
                <th colspan="2">售价</th>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>销售价:</td>
                <td class="alignleft">
                    <input style="width:35px;" type="text" id="sellPrice" name="sellPrice">
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>成本价:</td>
                <td class="alignleft">
                    <input style="width:35px;" type="text" id="costPrice" name="costPrice">
                </td>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>门市价:</td>
                <td class="alignleft">
                    <input style="width:35px;" type="text" id="storePrice" name="storePrice">
                </td>
            </tr>
            <tr class="controls">
                <th colspan="2">门票须知</th>
            </tr>
            <tr class="controls">
                <td class="alignright"><span class="red">*</span>预订说明</td>
                <td class="alignleft">
                    <textarea id="orderDescription" name="orderDescription" style="width:500px;height:200px;"></textarea>
                </td>
            </tr><tr class="controls">
                <td class="alignright"><span class="red">*</span>退票说明</td>
                <td class="alignleft">
                    <textarea id="refundDescription" name="refundDescription" style="width:500px;height:200px;"></textarea>
                </td>
            </tr>
            <tr class="controls">
                <td colspan="2">
                    <button type="submit" class="btn btn-success" id="addYearTicket">增加</button>
                    <a th:href="${'/yearstrategyticket/list.html?mainStadiumId=' + mainStadiumId}">
                        <button type="button" class="btn btn-success" id="cancelAddSiteTicket">取消</button>
                    </a>
                </td>
            </tr>
        </table>
        </form>
    </div>
</section>
<div id="addDialogs">
</div>
</body>
</html>