<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>场地票价格策略新增页面</title>
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <script src="../../static/lib/js/utils.js" th:src="@{/lib/js/utils.js}"></script>
    <script src="../../static/lib/My97DatePicker/WdatePicker.js" th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <script src="../../static/lib/My97DatePicker/calendar.js" th:src="@{/lib/My97DatePicker/calendar.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../static/lib/kindeditor-4.1.7/themes/default/default.css" th:href="@{/lib/kindeditor-4.1.7/themes/default/default.css}"/>
    <script src="../../static/lib/kindeditor-4.1.7/kindeditor-all-min.js" th:src="@{/lib/kindeditor-4.1.7/kindeditor-all-min.js}"></script>
    <script src="../../static/lib/kindeditor-4.1.7/lang/zh_CN.js" th:src="@{/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>
    <script src="../../static/js/siteticket/site_strategy_edit.js" th:src="@{/js/siteticket/site_strategy_edit.js}"></script>

    <!--<script src="http://upms.eastdc.cn:82/scripts/common.js"></script>-->
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <style>
        p.title{font-size:18px;font-weight: bold;}
        .inputw100{width:100px;}
        #contentTable td.alignleft{text-align: left;}
        #contentTable td.alignright{text-align: right;}
        .form-horizontal .control-group .controls input {float:none;}
        .form-horizontal .control-group .controls label {float: none;}
    </style>
</head>
<body>
    <section>
        <div class="container-fluid" style="margin-top: 30px;height:120px;">
            <p class="title">新增价格策略</p>
            <form onsubmit="return false;" class="form-horizontal" action="#" id="editSiteTicketStrategyForm">
                <input type="hidden" id="subStadium" name="subStadium" th:value="${strategy.subStadium}">
                <input type="hidden" id="ticketId" name="ticketId" th:value="${strategy.ticketId}">
                <table id="contentTable" class="table table-bordered table-hover definewidth m10 control-group">
                    <tr class="controls" hidden>
                        <td class="alignright" width="10%"><span class="red">*</span>场地票编号</td>
                        <td class="alignleft">
                            <input type="hidden" id="id" name="id" th:value="${strategy.id}">
                        </td>
                    </tr>
                    <tr class="controls">
                        <td class="alignright" width="10%"><span class="red">*</span>策略名称</td>
                        <td class="alignleft">
                            <input type="text" id="strategyName" name="strategyName" th:value="${strategy.strategyName}">
                        </td>
                    </tr>
                    <tr class="controls">
                        <td class="alignright" width="10%"><span class="red">*</span>选择场地</td>
                        <td class="alignleft">
                            <div>
                                <input type="checkbox" id="siteCheckAll">全选/全不选
                            </div>
                            <div>
                                <input type="checkbox" name="fieldCheck" th:each="field, objStat: ${fieldList}" th:value="${field.id}" th:text="${field.field_name}">
                            </div>
                            <label id="fieldCheck-error" class="error" for="fieldCheck"></label>
                        </td>
                    </tr>
                    <tr class="controls">
                        <td class="alignright" width="10%"><span class="red">*</span>日期类型</td>
                        <td class="alignleft">
                            <div>
                                <input type="radio" name="dateType" value="0" th:checked="${strategy.dateType eq '0'}" style="display:none;">
                                <label style="display:none">每日</label>
                                <input type="radio" name="dateType" value="1" th:checked="${strategy.dateType eq '1'}">每周
                                <input type="radio" name="dateType" value="2" th:checked="${strategy.dateType eq '2'}" style="display:none;">
                                <label style="display:none">每月</label>
                                <input type="radio" name="dateType" value="3" th:checked="${strategy.dateType eq '3'}">指定日
                            </div>
                            <div>
                                <div></div>
                                <div id="weekDiv">
                                    <input type="checkbox" name="weekDetails" value="1">周一
                                    <input type="checkbox" name="weekDetails" value="2">周二
                                    <input type="checkbox" name="weekDetails" value="3">周三
                                    <input type="checkbox" name="weekDetails" value="4">周四
                                    <input type="checkbox" name="weekDetails" value="5">周五
                                    <input type="checkbox" name="weekDetails" value="6">周六
                                    <input type="checkbox" name="weekDetails" value="7">周日
                                </div>
                                <div id="monthDiv" hidden>
                                    <div>
                                        <input type="checkbox" id="monthCheckAll">全选/全不选
                                    </div>
                                    <div>
                                        <input type="checkbox" name="monthCheck" value="1">1月
                                        <input type="checkbox" name="monthCheck" value="2">2月
                                        <input type="checkbox" name="monthCheck" value="3">3月
                                        <input type="checkbox" name="monthCheck" value="4">4月
                                        <input type="checkbox" name="monthCheck" value="5">5月
                                        <input type="checkbox" name="monthCheck" value="6">6月
                                        <input type="checkbox" name="monthCheck" value="7">7月
                                        <input type="checkbox" name="monthCheck" value="8">8月
                                        <input type="checkbox" name="monthCheck" value="9">9月
                                        <input type="checkbox" name="monthCheck" value="10">10月
                                        <input type="checkbox" name="monthCheck" value="11">11月
                                        <input type="checkbox" name="monthCheck" value="12">12月
                                    </div>
                                </div>
                                <div id="specificDateDiv" hidden>
                                    <input style="width:105px;float: none" type="text" id="specificStartTime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'specificEndTime\')}'})" class="Wdate">
                                    <span>至</span>
                                    <input style="width:105px;float: none;" type="text" id="specificEndTime" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'specificStartTime\')}'})"  class="Wdate">
                                    <input type="button" class="btn" value="添加" id="addSpecificDateBtn">
                                    <span>
                                        <select id="specificDateSelects" multiple="multiple" style="width:250px;">
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="controls">
                        <td class="alignright"><span class="red">*</span>选择时段</td>
                        <td class="alignleft">
                            <div>
                                <select id="timeCode" name="timeCode">
                                    <option th:each="timeFrame: ${timeFrameList}" th:text="${timeFrame.time_name}" th:value="${timeFrame.id}" th:selected="${strategy.timeCode eq timeFrame.id}"></option>
                                </select>
                            </div>
                            <div>
                                <input type="checkbox" id="timeIntervalCheckAll">全选/全不选
                                <div id="timeIntervalList">
                                    <input type="checkbox" name="timeIntervalCheck"th:each="timeInterval: ${timeIntervalList}" th:value="${timeInterval.id}" th:text="${timeInterval.time_inter}">
                                </div>
                                <label id="timeIntervalCheck-error" class="error" for="timeIntervalCheck"></label>
                            </div>
                        </td>
                    </tr>
                    <tr class="controls">
                        <td width="10%" class="alignright"><span class="red">*</span>设置价格</td>
                        <td class="alignleft">
                            <span class="red">*</span>销售价<input type="text" id="sellPrice" name="sellPrice" th:value="${strategy.sellPrice}" style="width:35px;display:inline;">
                            <span class="red">*</span>成本价<input type="text" id="costPrice" name="costPrice" th:value="${strategy.costPrice}" style="width:35px;display:inline;">
                            <span class="red">*</span>门市价<input type="text" id="storePrice" name="storePrice" th:value="${strategy.storePrice}" style="width:35px;display:inline;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-success" id="addStrategyBtn">保存</button>
                            <button type="button" class="btn btn-success" id="cancelBtn">取消</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
    <script th:inline="javascript">
        $(function(){
            //获取到场地并设置checkbox
            var site =  [[${strategy.site}]];
            var siteArray = site.split(",");
            $('input[name="fieldCheck"]:checkbox').each(function(){
                if (siteArray.contains($(this).val())) {
                    $(this).attr("checked","checked");
                }
            });
            //日期类型控制隐藏内容
            var dateType = [[${strategy.dateType}]];
            $("#weekDiv").hide();
            $("#monthDiv").hide();
            $("#specificDateDiv").hide();
            if ('1' == dateType) {
                $("#weekDiv").show();
            } else if('2' == dateType){
                $("#monthDiv").show();
            } else if('3' == dateType){
                $("#specificDateDiv").show();
            }

            //获取日期类型每周的数据并设置checkbox
            var weekDetails =  [[${strategy.weekDetails}]];
            var weekArray = weekDetails.split(",");
            $('input[name="weekDetails"]:checkbox').each(function(){
                if (weekArray.contains($(this).val())) {
                    $(this).attr("checked","checked");
                }
            });

            var specificDateArray = [];//指定日数组
            //点击指定日中的添加按钮
            $("#addSpecificDateBtn").click(function(){
                var specificStartTime = $.trim($("#specificStartTime").val());
                var specificEndTime = $.trim($("#specificEndTime").val());
                if(undefined == specificStartTime || "" == specificStartTime) {
                    alert("请填写起始不可用日期");
                    return;
                }
                if(undefined == specificEndTime || "" == specificEndTime) {
                    alert("请填写结束不可用时间");
                    return;
                }
                var specificStartTimeKey = specificStartTime+"$"+specificEndTime;
                var specificStartTimeValue = specificStartTime+"至"+specificEndTime;
                if(specificDateArray.contains(specificStartTimeKey)) {
                    alert("该指定日已经添加，请重新选择~");
                    return;
                }
                specificDateArray.push(specificStartTimeKey);
                $("#specificDateSelects").prepend('<option value="'+specificStartTimeKey+'">'+specificStartTimeValue+"</option>");
            });

            //不可用日期段条目双击删除
            $("#specificDateSelects").dblclick(function(){
                var specificStartTimeKey =  $("option:selected",this).attr("value");
                $("option:selected",this).remove();
                specificDateArray.remove(specificStartTimeKey);
            });

            //获取日期类型指定日的数据并设置
            var specificDateArrayStr = [[${strategy.specificDate}]];
            if("" != specificDateArrayStr) {
                specificDateArray = specificDateArrayStr.split(",");//日期类型指定日的数据
                if(specificDateArray.length > 0) {
                    for(var i=0; i < specificDateArray.length;i++) {
                        var startAndEnd = specificDateArray[i].split("$");
                        var start = startAndEnd[0];
                        var end = startAndEnd[1];
                        var startAndEndTimeValue = start+"至"+end;
                        $("#specificDateSelects").prepend('<option value="'+ specificDateArray[i] +'">'+startAndEndTimeValue+"</option>");
                    }
                }
            }

            //获取时段的数据并设置checkbox
            var timeInterval =  [[${strategy.timeInterval}]];
            var timeIntervalArray = timeInterval.split(",");
            $('input[name="timeIntervalCheck"]:checkbox').each(function(){
                if (timeIntervalArray.contains($(this).val())) {
                    $(this).prop("checked","checked");
                }
            });

            //时段策略改变时同时改变时段信息
            $("#timeCode").change(function(){
                $.ajax({
                    url:'/siteTicket/getTimeIntervalByTimeCode.json',
                    type:'POST', //GET
                    data:{"timeCode":$("#timeCode").val()},
                    dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                    success:function(result){
                        if("000000" == result.code) {
                            var items = result.result;
                            $("#timeIntervalList").empty();
                            if(0 == items.length){
                                $("#timeIntervalList").append("");
                            } else {
                                //更新时段列表信息
                                $.each(items,function(i,n){
                                    $("#timeIntervalList").append("<input type='checkbox' id='timeIntervalCheck' name='timeIntervalCheck' value=\"" + n.id + "\">"+n.time_inter);
                                });
                            }
                            $('input[name="timeIntervalCheck"]:checkbox').each(function(){
                                if (timeIntervalArray.contains($(this).val())) {
                                    $(this).prop("checked","checked");
                                }
                            });
                        } else {
                            layer.msg("更新时段信息失败~");
                        }
                    },
                    error:function(result){
                        layer.msg("更新时段信息失败~");
                    }
                })
            });

            //取消按钮响应事件
            $("#cancelBtn").click(function (){
                window.location.href = "editSiteTicket.html?ticketId=" + [[${strategy.ticketId}]];
            });

            //表单配置
            var valConfig = {
                rules: {
                    strategyName: {
                        required: true,
                        maxlength: 100
                    },
                    fieldCheck:{
                        required: true
                    },
                    timeIntervalCheck:{
                        required: true
                    },
                    sellPrice: {
                        required: true,
                        number: true
                    },
                    costPrice: {
                        required: true,
                        number: true
                    },
                    storePrice: {
                        required: true,
                        number: true
                    }
                },
                messages: {
                    strategyName: {
                        required: "请填写策略名称"
                    },
                    fieldCheck:{
                        required: "请选择场地"
                    },
                    timeIntervalCheck:{
                        required: "请选择时段"
                    },
                    sellPrice: {
                        required: "请填写销售价",
                        number: "请输入有效的数字"
                    },
                    costPrice: {
                        required: "请填写成本价",
                        number: "请输入有效的数字"
                    },
                    storePrice: {
                        required: "请填写门市价",
                        number: "请输入有效的数字"
                    }
                },
                submitHandler: function () {
                    var id = $.trim($("#id").val());//价格策略编号
                    var ticketId = $.trim($("#ticketId").val());//场地票编号
                    var strategyName = $.trim($("#strategyName").val());//策略名称
                    var subStadium = $.trim($("#subStadium").val());//子场馆编号
                    var siteArray = [];//选择场地
                    $('input[name="fieldCheck"]:checkbox').each(function(){
                        if ($(this).prop("checked")) {
                            siteArray.push($(this).prop('value'));
                        }
                    });
                    var site = siteArray.toString();//选择场地

                    var dateType = $('input:radio[name="dateType"]:checked').val();//日期类型
                    var weekDetailsArray = [];//日期类型每周
                    $('input[name="weekDetails"]:checkbox').each(function(){
                        if ($(this).prop("checked")) {
                            weekDetailsArray.push($(this).prop('value'));
                        }
                    });
                    var weekDetails = weekDetailsArray.toString();//日期类型每周

                    var monthDetailsArray = [];//日期类型每月
                    $('input[name="monthDetails"]:checkbox').each(function(){
                        if ($(this).prop("checked")) {
                            monthDetailsArray.push($(this).prop('value'));
                        }
                    });
                    var monthDetails = monthDetailsArray.toString();//日期类型每周

                    var specificDate = specificDateArray.toString();//日期类型指定日

                    var timeCode = $("#timeCode").val();//选择时段
                    var timeIntervalArray = [];
                    $('input[name="timeIntervalCheck"]:checkbox').each(function(){
                        if ($(this).prop("checked")) {
                            timeIntervalArray.push($(this).prop('value'));
                        }
                    });
                    var timeInterval = timeIntervalArray.toString();//时段详细
                    var sellPrice = $.trim($("#sellPrice").val());//销售价
                    var costPrice = $.trim($("#costPrice").val());//成本价
                    var storePrice = $.trim($("#storePrice").val());//门市价

                    var reqParam = {
                        id:id,
                        ticketId:ticketId,
                        strategyName:strategyName,
                        subStadium:subStadium,
                        site:site,
                        dateType:dateType,
                        weekDetails:weekDetails,
                        monthDetails:monthDetails,
                        specificDate:specificDate,
                        timeCode:timeCode,
                        timeInterval:timeInterval,
                        sellPrice:sellPrice,
                        costPrice:costPrice,
                        storePrice:storePrice
                    };
                    if(dateType == 1 && weekDetails == ""){
                        layer.msg("请选择日期类型");
                    } else if(dateType == 2 && monthDetails == ""){
                        layer.msg("请选择日期类型")
                    } else if(dateType == 3 && specificDate  == ""){
                        layer.msg("请选择日期类型")
                    } else {
                        $.ajax({
                            url:'/siteTicket/editStrategyInfo.json',
                            type:'POST', //GET
                            data:reqParam,
                            dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                            success:function(result){
                                if("000000" == result.code) {
                                    layer.msg(result.result);
                                    //window.location.reload(true);
                                }
                            },
                            error:function(result){
                                layer.msg("编辑场地票策略失败~");
                            }
                        });
                    }
                }
            };
            $("#editSiteTicketStrategyForm").validate(valConfig);
        });
    </script>
</body>
</html>