<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.sport.mgr.resource.dao.CurriculumMapper">

    <resultMap id="BaseResultMap" type="com.digitalchina.sport.mgr.resource.model.Curriculum">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="training_institutions_id" property="training_institutions_id" jdbcType="VARCHAR"/>
        <result column="cooperative_merchant_id" property="cooperative_merchant_id" jdbcType="VARCHAR"/>
        <result column="img_url" property="img_url" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="teachers" property="teachers" jdbcType="VARCHAR"/>
        <result column="train_type" property="train_type" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="enrollment_required" property="enrollment_required" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="enrollment_read" property="enrollment_read" jdbcType="VARCHAR"/>
        <result column="create_date" property="create_date" jdbcType="TIMESTAMP"/>
        <result column="recommend_time" property="recommend_time" jdbcType="TIMESTAMP"/>
        <result column="recommend_level" property="recommend_level" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="org_name" property="org_name" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
        -->
        id, training_institutions_id, cooperative_merchant_id, img_url, name, teachers, train_type,
        content, address, enrollment_required, phone, enrollment_read, create_date, recommend_time,
        recommend_level
    </sql>

    <resultMap id="BaseResultMapNew" type="com.digitalchina.sport.mgr.resource.model.CurriculumNew">
        <!--
          WARNING - @mbggenerated
          Generated on 2017-06-14 19:46:53.
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="training_institutions_id" jdbcType="VARCHAR" property="training_institutions_id" />
        <result column="cooperative_merchant_id" jdbcType="VARCHAR" property="cooperative_merchant_id" />
        <result column="img_url" jdbcType="VARCHAR" property="img_url" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="teachers" jdbcType="VARCHAR" property="teachers" />
        <result column="train_type" jdbcType="VARCHAR" property="train_type" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="enrollment_required" jdbcType="VARCHAR" property="enrollment_required" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="enrollment_read" jdbcType="VARCHAR" property="enrollment_read" />
        <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
        <result column="recommend_time" jdbcType="TIMESTAMP" property="recommend_time" />
        <result column="recommend" jdbcType="INTEGER" property="recommend" />
        <result column="recommend_level" jdbcType="INTEGER" property="recommend_level" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="discount_status" jdbcType="VARCHAR" property="discount_status" />
    </resultMap>
    <sql id="Base_Column_ListNew">
        <!--
          WARNING - @mbggenerated
          Generated on 2017-06-14 19:46:53.
        -->
        id, training_institutions_id, cooperative_merchant_id, img_url, name, teachers, train_type,
        content, address, enrollment_required, phone, enrollment_read, create_date, recommend_time,
        recommend, recommend_level, status, discount_status
    </sql>

    <select id="getCurriculum" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        m.merchant_name,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`,
        ti.org_name
        FROM
        curriculum c,
        curriculum_type ct,
        training_institution ti,
        merchant m
        WHERE
        1=1
        and c.train_type = ct.`code`
        AND ti.id = c.training_institutions_id
        and c.cooperative_merchant_id = m.id
        <if test="training_institutions_name != null and training_institutions_name != ''">
            AND ti.org_name like concat('%',#{training_institutions_name},'%')
        </if>
        <if test="name != null and name != ''">
            AND c.name like concat('%',#{name},'%')
        </if>
        <if test="train_type != null and train_type != ''">
            AND ct.code = #{train_type}
        </if>
        ORDER BY c.create_date DESC
        <if test="pNum != null and pSize != null">
            limit #{pNum},#{pSize}
        </if>

    </select>
    <select id="getCurriculumCount" resultType="int" parameterType="java.util.Map">
        SELECT
        COUNT(1)
        FROM
        curriculum c,
        curriculum_type ct
        WHERE
        c.train_type = ct.`code`
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id = #{training_institutions_id}
        </if>
        <if test="name != null and name != ''">
            AND c.name like concat('%',#{name},'%')
        </if>
        <if test="train_type != null and train_type != ''">
            AND ct.code = #{train_type}
        </if>
    </select>
    <select id="getCurriculumByNameExHas" resultMap="BaseResultMap">
        SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`
        FROM
        curriculum c,
        curriculum_type ct
        WHERE
        c.train_type = ct.`code`
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id = #{training_institutions_id}
        </if>
        <if test="name != null and name != ''">
            AND c.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="ids!= null and ids.size > 0">
            AND c.id NOT IN
            <foreach collection="ids" item="item"
                     index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getCurriculumByIds" resultMap="BaseResultMap">
        SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`
        FROM
        curriculum c,
        curriculum_type ct
        WHERE
        c.train_type = ct.`code`
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id = #{training_institutions_id}
        </if>
        <if test="ids != null and ids.size > 0">
            AND c.id IN
            <foreach collection="ids" item="item"
                     index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getCurriculumByIdsNot" resultMap="BaseResultMap">
        SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`
        FROM
        curriculum c,
        curriculum_type ct
        WHERE
        c.train_type = ct.`code`
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id = #{training_institutions_id}
        </if>
        <if test="ids!= null and ids.size > 0">
            AND c.id NOT IN
            <foreach collection="ids" item="item"
                     index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getCurriculumOrderHasPay" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        c.`name`,
        c.training_institutions_id,
        t.org_name,
        ct.`name` AS train_name,
        cc.`name` AS class_name,
        cc.lean_time,
        cc.leantime_type,
        co.student_name,
        co.phone,
        co.pay_time,
        cct.time,
        ifnull(co.pay_fee, '') pay_fee
        FROM
        curriculum_order co,
        curriculum c,
        curriculum_class cc,
        curriculum_class_times cct,
        curriculum_type ct,
        training_institution t
        WHERE
        co.curriculum_id = c.id
        AND co.curriculum_class_id = cc.id
        AND co.curriculum_class_time_id = cct.id
        AND c.train_type = ct.`code`
        and c.training_institutions_id=t.id
        and co.status = '1'
        <if test="train_type != null and train_type != ''">
            AND c.train_type=#{train_type}
        </if>
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id=#{training_institutions_id}
        </if>
        <if test="name != null and name != ''">
            AND c.id=#{name}
        </if>
        <if test="class_name != null and class_name != ''">
            AND cc.id=#{class_name}
        </if>
        <if test="phone != null and phone != ''">
            AND co.phone like concat('%',#{phone},'%')
        </if>
        <if test="student_name != null and student_name != ''">
            AND co.student_name like concat('%',#{student_name},'%')
        </if>
        limit #{pNum},#{pSize}
    </select>
    <select id="getCurriculumOrderHasPayCount" resultType="int" parameterType="java.util.Map">
        SELECT
        count(1)
        FROM
        curriculum_order co,
        curriculum c,
        curriculum_class cc,
        curriculum_class_times cct,
        curriculum_type ct,
        training_institution t
        WHERE
        co.curriculum_id = c.id
        AND co.curriculum_class_id = cc.id
        AND co.curriculum_class_time_id = cct.id
        AND c.train_type = ct.`code`
        and c.training_institutions_id=t.id
        and co.status = '1'
        <if test="train_type != null and train_type != ''">
            AND c.train_type=#{train_type}
        </if>
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id=#{training_institutions_id}
        </if>
        <if test="name != null and name != ''">
            AND c.id=#{name}
        </if>
        <if test="class_name != null and class_name != ''">
            AND cc.id=#{class_name}
        </if>
        <if test="phone != null and phone != ''">
            AND co.phone like concat('%',#{phone},'%')
        </if>
        <if test="student_name != null and student_name != ''">
            AND co.student_name like concat('%',#{student_name},'%')
        </if>
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
         SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`,
        ti.org_name
        FROM
        curriculum c,
        curriculum_type ct,
        training_institution ti
        WHERE
        c.train_type = ct.`code` AND ti.id = c.training_institutions_id AND c.id = #{id}
    </select>

    <select id="getAvailCurriculumListByInstitutionId" resultType="java.util.Map">
        select distinct a.id curriculum_id, a.name curriculum_name
        from curriculum a
        left join curriculum_discount b on a.id = b.curriculum_id
        where 1=1
        and a.training_institutions_id = #{institutionId}
        and (
        b.curriculum_id is null
        <if test="curriculumId != null">
          or a.id = #{curriculumId}
        </if>
        )
    </select>

    <select id="selectNewByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMapNew">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-14 19:46:53.
    -->
        select
        <include refid="Base_Column_ListNew" />
        from curriculum
        where id = #{id,jdbcType=INTEGER}
    </select>


    <update id="updateNewByPrimaryKeySelective" parameterType="com.digitalchina.sport.mgr.resource.model.CurriculumNew">
        <!--
          WARNING - @mbggenerated
          Generated on 2017-06-14 19:46:53.
        -->
        update curriculum
        <set>
            <if test="training_institutions_id != null">
                training_institutions_id = #{training_institutions_id,jdbcType=VARCHAR},
            </if>
            <if test="cooperative_merchant_id != null">
                cooperative_merchant_id = #{cooperative_merchant_id,jdbcType=VARCHAR},
            </if>
            <if test="img_url != null">
                img_url = #{img_url,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="teachers != null">
                teachers = #{teachers,jdbcType=VARCHAR},
            </if>
            <if test="train_type != null">
                train_type = #{train_type,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enrollment_required != null">
                enrollment_required = #{enrollment_required,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="enrollment_read != null">
                enrollment_read = #{enrollment_read,jdbcType=VARCHAR},
            </if>
            <if test="create_date != null">
                create_date = #{create_date,jdbcType=TIMESTAMP},
            </if>
            <if test="recommend_time != null">
                recommend_time = #{recommend_time,jdbcType=TIMESTAMP},
            </if>
            <if test="recommend != null">
                recommend = #{recommend,jdbcType=INTEGER},
            </if>
            <if test="recommend_level != null">
                recommend_level = #{recommend_level,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="discount_status != null">
                discount_status = #{discount_status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- 订单列表 -->
    <select id="getOrderListByMap" resultType="java.util.HashMap" parameterType="java.util.Map">
        SELECT
        co.id AS id,
        co.order_number AS orderNumber,
        ct.`name` AS trainType,
        tr.org_name AS orgName,
        c.`name` AS curriculumName,
        cc.`name` AS curriculumClassName,
        co.create_time AS createTime,
        co.fee,
        (
        CASE
        WHEN co.pay_fee IS NULL THEN
        ''
        ELSE
        co.pay_fee
        END
        ) AS payFee,
        co.come,
        co.phone,
        (
        CASE co.`status`
        WHEN '0' THEN
        '未支付'
        WHEN '1' THEN
        '支付成功'
        WHEN '2' THEN
        '支付失败'
        WHEN '3' THEN
        '已退款'
        WHEN '4' THEN
        '失效订单'
        WHEN '5' THEN
        '异常订单'
        ELSE
        ''
        END
        ) AS `status`,
        (
        CASE co.`re_status`
        WHEN '0' THEN
        '未确认'
        WHEN '1' THEN
        '已确认'
        ELSE
        ''
        END
        ) AS restatus
        FROM
        curriculum_order co
        LEFT JOIN curriculum c ON c.id = co.curriculum_id
        LEFT JOIN curriculum_class cc ON cc.id = co.curriculum_class_id
        LEFT JOIN curriculum_class_times cct ON cct.id = co.curriculum_class_time_id
        LEFT JOIN training_institution tr ON tr.id = c.training_institutions_id
        LEFT JOIN curriculum_type ct ON ct.`code` = c.train_type
        WHERE 1=1
        <if test="phone != null and phone != ''">
            AND co.phone = #{phone}
        </if>
        <if test="curriculumName != null and curriculumName != ''">
            AND c.`name` like CONCAT('%',#{curriculumName},'%')
        </if>
        <if test="trainType != null and trainType != ''">
            AND c.train_type = #{trainType}
        </if>
        <if test="startDate != null and startDate != ''">
            <![CDATA[AND
            co.create_time >=#{startDate}
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[AND
            co.create_time <= #{endDate}]]>
        </if>
        <if test="come != null and come != ''">
            AND UPPER(co.come) = UPPER(#{come})
        </if>
        <if test="status != null and status != ''">
            AND co.status IN (#{status})
        </if>
        ORDER BY
        co.create_time DESC
        LIMIT #{startIndex},#{pageSize}
    </select>
    <select id="getCountByMap" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        COUNT(0)
        FROM
        curriculum_order co
        LEFT JOIN curriculum c ON c.id = co.curriculum_id
        LEFT JOIN curriculum_class cc ON cc.id = co.curriculum_class_id
        LEFT JOIN curriculum_class_times cct ON cct.id = co.curriculum_class_time_id
        LEFT JOIN training_institution tr ON tr.id = c.training_institutions_id
        LEFT JOIN curriculum_type ct ON ct.`code` = c.train_type
        WHERE 1=1
        <if test="phone != null and phone != ''">
            AND co.phone = #{phone}
        </if>
        <if test="curriculumName != null and curriculumName != ''">
            AND c.`name` like CONCAT('%',#{curriculumName},'%')
        </if>
        <if test="trainType != null and trainType != ''">
            AND c.train_type = #{trainType}
        </if>
        <if test="startDate != null and startDate != ''">
            <![CDATA[AND
            co.create_time >=#{startDate}
            ]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[AND
            co.create_time <= #{endDate}]]>
        </if>
        <if test="come != null and come != ''">
            AND UPPER(co.come) = UPPER(#{come})
        </if>
        <if test="status != null and status != ''">
            AND co.status IN (#{status})
        </if>
    </select>
    <select id="getCurriculumTypes" resultType="java.util.Map">
        SELECT
        ct.`code` AS code,
        ct.`name` AS name
        FROM
        curriculum_type ct
    </select>
    <!-- 订单详情 -->
    <select id="getOrderDetailsByOrderId" resultType="java.util.HashMap" parameterType="java.util.Map">
        SELECT
            co.id AS orderId,
            tr.org_name AS orgName,
            ct.`name` AS trainType,
            co.curriculum_id AS curriculumId,
            c.`name` AS curriculumName,
            cc.`name` AS className,
            cct.time AS classTime,
            co.create_time AS createTime,
            co.come AS come,
            (
                CASE
                WHEN co.pay_time IS NULL THEN
                    ''
                ELSE
                    co.pay_time
                END
            ) AS payTime,
            (
                CASE co.`status`
                WHEN '0' THEN
                    '未支付'
                WHEN '1' THEN
                    '支付成功'
                WHEN '2' THEN
                    '支付失败'
                WHEN '3' THEN
                    '已退款'
                WHEN '4' THEN
                    '失效订单'
                WHEN '5' THEN
                    '异常订单'
                ELSE
                    ''
                END
            ) AS `status`,
            (
                CASE co.`refund_status`
                WHEN '0' THEN
                    '未退款'
                WHEN '1' THEN
                    '已退款'
                ELSE
                    ''
                END
            ) AS refundStatus,
            co.fee AS fee,
            co.pay_fee AS payFee,
            co.fee_msg AS feeMsg,
            (
                CASE
                WHEN co.discount_configure_id IS NULL THEN
                    ''
                ELSE
                    co.discount_configure_id
                END
            ) AS discountConfigureId,
            (
                CASE
                WHEN co.user_id IS NULL THEN
                    ''
                ELSE
                    co.user_id
                END
            ) AS userId,
            co.student_name AS studentName,
            co.phone AS phone,
            co.id_card AS idCard,
            co.birthday AS birthday,
            (
                CASE co.gender
                WHEN '0' THEN
                    '男'
                WHEN '1' THEN
                    '女'
                ELSE
                    ''
                END
            ) AS gender,
            co.school AS school,
            co.pay_type AS payType,
            (
                CASE
                WHEN p.payment IS NULL THEN
                    ''
                ELSE
                    p.payment
                END
            ) AS payment,
            (
                CASE
                WHEN co.pay_acount IS NULL THEN
                    ''
                ELSE
                    co.pay_acount
                END
            ) AS payAcount,
            co.order_number AS orderNumber,
            (
                CASE co.`re_status`
                WHEN '0' THEN
                    '未确认'
                WHEN '1' THEN
                    '已确认'
                ELSE
                    ''
                END
            ) AS restatus,
            (
            CASE
            WHEN trdis.`name` IS NULL THEN
                ''
            ELSE
                trdis.`name`
            END
            ) AS discountName
        FROM
            curriculum_order co
        LEFT JOIN curriculum c ON c.id = co.curriculum_id
        LEFT JOIN curriculum_class cc ON cc.id = co.curriculum_class_id
        LEFT JOIN curriculum_class_times cct ON cct.id = co.curriculum_class_time_id
        LEFT JOIN training_institution tr ON tr.id = c.training_institutions_id
        LEFT JOIN curriculum_type ct ON ct.`code` = c.train_type
        LEFT JOIN payment p ON p.id = co.pay_type
        LEFT JOIN training_institution_discount_value trdis ON trdis.id = co.discount_configure_id
        WHERE
            co.id = #{orderId}
    </select>
    <select id="getCurriculumRefund" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        cr.id AS id,
        cr.order_id AS orderId,
        cr.refund_fee AS refundFee,
        cr.refund_msg AS refundMsg,
        cr.refund_time AS refundTime
        FROM
        curriculum_refund cr
        WHERE
        cr.order_id = #{orderId}
    </select>
    <!--更新订单状态，时间超过10分钟状态变为失效订单 -->
    <update id="updateOrderByOrderTime" parameterType="java.util.Map" >
        UPDATE curriculum_order
        SET `status`=#{status},remarks=#{remarks},update_time=NOW()
        WHERE
        <![CDATA[
			invalid_time < NOW() AND `status`='0'
  		]]>
    </update>


    <select id="getSlCurriculumList" resultType="java.util.HashMap">
        select t.id, t.name from curriculum t
        where 1=1
        <if test='status != null and status !="" '>
            and t.status = #{status}
        </if>
        <if test='institution_id != null and institution_id !="" '>
            and t.training_institutions_id = #{institution_id}
        </if>
        order by t.training_institutions_id, t.create_date
    </select>

    <select id="getSlCurriculumClassList" resultType="java.util.HashMap">
        select t.id, t.name from curriculum_class t
        where 1=1
        <if test='status != null and status !="" '>
            and t.status = #{status}
        </if>
        <if test='curriculum_id != null and curriculum_id !="" '>
            and t.curriculum_id = #{curriculum_id}
        </if>
        order by t.curriculum_id
    </select>
</mapper>