<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.sport.mgr.resource.dao.CurriculumMapper">

    <resultMap id="BaseResultMap" type="com.digitalchina.sport.mgr.resource.model.Curriculum">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="training_institutions_id" property="training_institutions_id" jdbcType="VARCHAR"/>
        <result column="cooperative_merchant_id" property="cooperative_merchant_id" jdbcType="VARCHAR"/>
        <result column="img_url" property="img_url" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="teachers" property="teachers" jdbcType="VARCHAR"/>
        <result column="train_type" property="train_type" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="enrollment_required" property="enrollment_required" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="enrollment_read" property="enrollment_read" jdbcType="VARCHAR"/>
        <result column="create_date" property="create_date" jdbcType="TIMESTAMP"/>
        <result column="recommend_time" property="recommend_time" jdbcType="TIMESTAMP"/>
        <result column="recommend_level" property="recommend_level" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="org_name" property="org_name" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
        -->
        id, training_institutions_id, cooperative_merchant_id, img_url, name, teachers, train_type,
        content, address, enrollment_required, phone, enrollment_read, create_date, recommend_time,
        recommend_level
    </sql>

    <resultMap id="BaseResultMapNew" type="com.digitalchina.sport.mgr.resource.model.CurriculumNew">
        <!--
          WARNING - @mbggenerated
          Generated on 2017-06-14 19:46:53.
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="training_institutions_id" jdbcType="VARCHAR" property="training_institutions_id" />
        <result column="cooperative_merchant_id" jdbcType="VARCHAR" property="cooperative_merchant_id" />
        <result column="img_url" jdbcType="VARCHAR" property="img_url" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="teachers" jdbcType="VARCHAR" property="teachers" />
        <result column="train_type" jdbcType="VARCHAR" property="train_type" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="enrollment_required" jdbcType="VARCHAR" property="enrollment_required" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="enrollment_read" jdbcType="VARCHAR" property="enrollment_read" />
        <result column="create_date" jdbcType="TIMESTAMP" property="create_date" />
        <result column="recommend_time" jdbcType="TIMESTAMP" property="recommend_time" />
        <result column="recommend" jdbcType="INTEGER" property="recommend" />
        <result column="recommend_level" jdbcType="INTEGER" property="recommend_level" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="discount_status" jdbcType="VARCHAR" property="discount_status" />
    </resultMap>
    <sql id="Base_Column_ListNew">
        <!--
          WARNING - @mbggenerated
          Generated on 2017-06-14 19:46:53.
        -->
        id, training_institutions_id, cooperative_merchant_id, img_url, name, teachers, train_type,
        content, address, enrollment_required, phone, enrollment_read, create_date, recommend_time,
        recommend, recommend_level, status, discount_status
    </sql>

    <select id="getCurriculum" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`,
        ti.org_name
        FROM
        curriculum c,
        curriculum_type ct,
        training_institution ti
        WHERE
        c.train_type = ct.`code` AND ti.id = c.training_institutions_id
        <if test="training_institutions_name != null and training_institutions_name != ''">
            AND ti.org_name like concat('%',#{training_institutions_name},'%')
        </if>
        <if test="name != null and name != ''">
            AND c.name like concat('%',#{name},'%')
        </if>
        <if test="train_type != null and train_type != ''">
            AND ct.code = #{train_type}
        </if>
        ORDER BY c.create_date DESC
        <if test="pNum != null and pSize != null">
            limit #{pNum},#{pSize}
        </if>

    </select>
    <select id="getCurriculumCount" resultType="int" parameterType="java.util.Map">
        SELECT
        COUNT(1)
        FROM
        curriculum c,
        curriculum_type ct
        WHERE
        c.train_type = ct.`code`
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id = #{training_institutions_id}
        </if>
        <if test="name != null and name != ''">
            AND c.name like concat('%',#{name},'%')
        </if>
        <if test="train_type != null and train_type != ''">
            AND ct.code = #{train_type}
        </if>
    </select>
    <select id="getCurriculumByNameExHas" resultMap="BaseResultMap">
        SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`
        FROM
        curriculum c,
        curriculum_type ct
        WHERE
        c.train_type = ct.`code`
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id = #{training_institutions_id}
        </if>
        <if test="name != null and name != ''">
            AND c.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="ids!= null">
            AND c.id NOT IN
            <foreach collection="ids" item="item"
                     index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getCurriculumByIds" resultMap="BaseResultMap">
        SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`
        FROM
        curriculum c,
        curriculum_type ct
        WHERE
        c.train_type = ct.`code`
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id = #{training_institutions_id}
        </if>
        <if test="ids != null">
            AND c.id IN
            <foreach collection="ids" item="item"
                     index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getCurriculumByIdsNot" resultMap="BaseResultMap">
        SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`
        FROM
        curriculum c,
        curriculum_type ct
        WHERE
        c.train_type = ct.`code`
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND c.training_institutions_id = #{training_institutions_id}
        </if>
        <if test="ids!= null">
            AND c.id NOT IN
            <foreach collection="ids" item="item"
                     index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getCurriculumOrderHasPay" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
        c.`name`,
        c.training_institutions_id,
        ct.`name` AS train_name,
        cc.`name` AS class_name,
        cc.lean_time,
        co.student_name,
        co.phone,
        co.pay_time,
        cct.time,
        co.pay_fee
        FROM
        curriculum_order co,
        curriculum c,
        curriculum_class cc,
        curriculum_class_times cct,
        curriculum_type ct
        WHERE
        co.curriculum_id = c.id
        AND co.curriculum_class_id = cc.id
        AND co.curriculum_class_time_id = cct.id
        AND c.train_type = ct.`code`
        <if test="name != null and name != ''">
            AND  c.name=#{name}
        </if>
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND  c.training_institutions_id=#{training_institutions_id}
        </if>
        <if test="class_name != null and class_name != ''">
            AND cc.name=#{class_name}
        </if>
        <if test="train_type != null and train_type != ''">
            AND  c.train_type=#{train_type}
        </if>
        <if test="phone != null and phone != ''">
            AND co.phone=#{phone}
        </if>
        <if test="student_name != null and student_name != ''">
            AND  co.student_name=#{student_name}
        </if>
        limit #{pNum},#{pSize}
    </select>
    <select id="getCurriculumOrderHasPayCount" resultType="int" parameterType="java.util.Map">
        SELECT
        COUNT(1)
        FROM
        curriculum_order co,
        curriculum c,
        curriculum_class cc,
        curriculum_class_times cct,
        curriculum_type ct
        WHERE
        co.curriculum_id = c.id
        AND co.curriculum_class_id = cc.id
        AND co.curriculum_class_time_id = cct.id
        AND c.train_type = ct.`code`
        <if test="name != null and name != ''">
            AND  c.name=#{name}
        </if>
        <if test="training_institutions_id != null and training_institutions_id != ''">
            AND   c.training_institutions_id=#{training_institutions_id}
        </if>
        <if test="class_name != null and class_name != ''">
            AND  cc.name=#{class_name}
        </if>
        <if test="train_type != null and train_type != ''">
            AND c.train_type=#{train_type}
        </if>
        <if test="phone != null and phone != ''">
            AND co.phone=#{phone}
        </if>
        <if test="student_name != null and student_name != ''">
            AND  co.student_name=#{student_name}
        </if>
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
         SELECT
        c.id,
        c.training_institutions_id,
        c.cooperative_merchant_id,
        c.img_url,
        c.`name`,
        c.teachers,
        ct.`name` AS train_type,
        c.content,
        c.address,
        c.enrollment_required,
        c.phone,
        c.enrollment_read,
        c.create_date,
        c.recommend_time,
        c.recommend,
        c.recommend_level,
        c.`status`,
        ti.org_name
        FROM
        curriculum c,
        curriculum_type ct,
        training_institution ti
        WHERE
        c.train_type = ct.`code` AND ti.id = c.training_institutions_id AND c.id = #{id}
    </select>

    <select id="getAvailCurriculumListByInstitutionId" resultType="java.util.Map">
        select distinct a.id curriculum_id, a.name curriculum_name
        from curriculum a
        left join curriculum_discount b on a.id = b.curriculum_id
        where 1=1
        and a.training_institutions_id = #{institutionId}
        and (
        b.curriculum_id is null
        <if test="curriculumId != null">
          or a.id = #{curriculumId}
        </if>
        )
    </select>

    <select id="selectNewByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMapNew">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-14 19:46:53.
    -->
        select
        <include refid="Base_Column_ListNew" />
        from curriculum
        where id = #{id,jdbcType=INTEGER}
    </select>


    <update id="updateNewByPrimaryKeySelective" parameterType="com.digitalchina.sport.mgr.resource.model.CurriculumNew">
        <!--
          WARNING - @mbggenerated
          Generated on 2017-06-14 19:46:53.
        -->
        update curriculum
        <set>
            <if test="training_institutions_id != null">
                training_institutions_id = #{training_institutions_id,jdbcType=VARCHAR},
            </if>
            <if test="cooperative_merchant_id != null">
                cooperative_merchant_id = #{cooperative_merchant_id,jdbcType=VARCHAR},
            </if>
            <if test="img_url != null">
                img_url = #{img_url,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="teachers != null">
                teachers = #{teachers,jdbcType=VARCHAR},
            </if>
            <if test="train_type != null">
                train_type = #{train_type,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enrollment_required != null">
                enrollment_required = #{enrollment_required,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="enrollment_read != null">
                enrollment_read = #{enrollment_read,jdbcType=VARCHAR},
            </if>
            <if test="create_date != null">
                create_date = #{create_date,jdbcType=TIMESTAMP},
            </if>
            <if test="recommend_time != null">
                recommend_time = #{recommend_time,jdbcType=TIMESTAMP},
            </if>
            <if test="recommend != null">
                recommend = #{recommend,jdbcType=INTEGER},
            </if>
            <if test="recommend_level != null">
                recommend_level = #{recommend_level,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="discount_status != null">
                discount_status = #{discount_status,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>