<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.sport.mgr.resource.dao.MerchantUserMapper" >
  <resultMap id="BaseResultMap" type="com.digitalchina.sport.mgr.resource.model.MerchantUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_tel" property="userTel" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="descride" property="descride" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="admin_role" property="adminRole" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, merchant_id, user_name, user_tel, user_pwd, descride, status, admin_role, create_time, 
    update_time
  </sql>

  <!--根据账户总条数-->
  <select id="findTotalCount" resultType="java.lang.Integer" parameterType="HashMap">
    SELECT count(0) FROM merchant_user
    <where>
      <choose>
        <when test="merchant_id !=null and merchant_id !='' ">
          merchant_id=#{merchant_id}
        </when>
        <otherwise>
          1&lt;&gt;1
        </otherwise>
      </choose>
    </where>
  </select>

  <!--分页查询所有账户信息-->
  <select id="getmerchantuser" resultType="java.util.Map" parameterType="HashMap">
    SELECT mu.id,mu.merchant_id,(CASE mu.status WHEN '0' THEN '停用' WHEN '1' THEN '正常' END ) AS status ,mu.descride,
    (CASE mu.admin_role WHEN '0' THEN '全部' WHEN '1' THEN '其他' END ) AS admin_role,
    mu.user_name,mu.user_pwd,mu.user_tel,mu.create_time
    FROM merchant_user mu
    <where>
      <choose>
        <when test="merchant_id !=null and merchant_id !='' ">
          mu.merchant_id=#{merchant_id}
        </when>
        <otherwise>
          1&lt;&gt;1
        </otherwise>
      </choose>
    </where>
    limit #{startIndex},#{endIndex}

  </select>



</mapper>