<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.sport.mgr.resource.dao.MerchantPayAccountMapper">
  <resultMap id="BaseResultMap" type="com.digitalchina.sport.mgr.resource.model.MerchantPayAccount">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="merchant_id" jdbcType="VARCHAR" property="merchantId" />
    <result column="pay_way" jdbcType="VARCHAR" property="payWay" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="partner_id" jdbcType="VARCHAR" property="partnerId" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="sign_type" jdbcType="VARCHAR" property="signType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.digitalchina.sport.mgr.resource.model.MerchantPayAccount">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="pay_key" jdbcType="LONGVARCHAR" property="payKey" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, merchant_id, pay_way, seller_id, partner_id, app_id, sign_type, create_time
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    pay_key
  </sql>
</mapper>