<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.sport.mgr.resource.dao.MerchantMapper">
    <resultMap id="BaseResultMap" type="com.digitalchina.sport.mgr.resource.model.Merchant">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="merchant_name" jdbcType="VARCHAR" property="merchantName"/>
        <result column="provincial_level" jdbcType="VARCHAR" property="provincialLevel"/>
        <result column="city_level" jdbcType="VARCHAR" property="cityLevel"/>
        <result column="district_level" jdbcType="VARCHAR" property="districtLevel"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="contacts" jdbcType="VARCHAR" property="contacts"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="cooperation_way" jdbcType="VARCHAR" property="cooperationWay"/>
        <result column="pay_way" jdbcType="VARCHAR" property="payWay"/>
        <result column="pay_way_account" jdbcType="VARCHAR" property="payWayAccount"/>
        <result column="pay_way_key" jdbcType="VARCHAR" property="payWayKey"/>
        <result column="settlement_way" jdbcType="VARCHAR" property="settlementWay"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.digitalchina.sport.mgr.resource.model.Merchant">
        <!--
          WARNING - @mbggenerated
        -->
        <result column="remark" jdbcType="LONGVARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
        -->
        id, merchant_name, provincial_level, city_level, district_level, address, contacts,
        telephone, cooperation_way, pay_way, pay_way_account, pay_way_key, settlement_way,
        status
    </sql>
    <sql id="Blob_Column_List">
        <!--
          WARNING - @mbggenerated
        -->
        remark
    </sql>
    <!--带条件查询合作商家总条数-->
    <select id="findTotalCount" resultType="java.lang.Integer" parameterType="HashMap">
    SELECT count(*) from merchant
        <where>
            <choose>
                <when test="mainstadium_id !=null and mainstadium_id !='' ">
                    mainstadium_id=#{mainstadium_id}
                </when>
                <otherwise>
                    1&lt;&gt;1
                </otherwise>
            </choose>
        </where>
  </select>
    <!--分页查询合作商户-->
    <select id="getmerchantList" resultType="java.util.Map" parameterType="HashMap">
    SELECT mt.id,mt.merchant_name,mt.contacts,
    (CASE mt.cooperation_way WHEN '1' THEN '支付第三方' WHEN '2' THEN '支付入统一账户' END ) AS cooperation_way ,
    mt.telephone,(CASE mt.status WHEN '1' THEN '正常' WHEN '0' THEN '停止合作' END ) AS status
    FROM merchant mt
        <where>
            <choose>
                <when test="mainstadium_id !=null and mainstadium_id !='' ">
                    mt.mainstadium_id=#{mainstadium_id}
                </when>
                <otherwise>
                    1&lt;&gt;1
                </otherwise>
            </choose>
        </where>
    limit #{startIndex},#{endIndex}
  </select>

    <!--根据条件查询所有合作商户列表 -->
    <select id="getMerchantListByParam" parameterType="HashMap" resultType="java.util.HashMap">
        SELECT
        id,
        merchant_name,
        address,
        contacts,
        telephone,
        cooperation_way,
        settlement_way,
        status,
        remark
        FROM
        merchant
        <where>
            <if test="mainStadiumId != null and mainStadiumId != ''">
                mainstadium_id = #{mainStadiumId}
            </if>
        </where>
    </select>

    <select id="getMerchants" parameterType="HashMap" resultType="java.util.HashMap">
        SELECT m.id,m.mainstadium_id as mainStadiumId,settlement_time as settlementTime FROM merchant m WHERE 1=1
        <if test="userId!=null and userId != ''">
            AND m.id=#{userId}
        </if>
        <if test="userId!=null and userId != ''">
            AND m.mainstadium_id=#{stadiumId}
        </if>
    </select>

    <select id="getAllMerchantList" resultType="java.util.HashMap">
        SELECT m.id, m.merchant_name FROM merchant m
        WHERE 1=1
    </select>
</mapper>