<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.sport.mgr.resource.dao.PaymentMapper">
  <resultMap id="BaseResultMap" type="com.digitalchina.sport.mgr.resource.model.Payment">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-13 15:52:10.
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="payment" jdbcType="VARCHAR" property="payment" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-13 15:52:10.
    -->
    id, payment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-13 15:52:10.
    -->
    select 
    <include refid="Base_Column_List" />
    from payment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-13 15:52:10.
    -->
    delete from payment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.digitalchina.sport.mgr.resource.model.Payment">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-13 15:52:10.
    -->
    insert into payment (id, payment)
    values (#{id,jdbcType=VARCHAR}, #{payment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.digitalchina.sport.mgr.resource.model.Payment">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-13 15:52:10.
    -->
    insert into payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="payment != null">
        payment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.digitalchina.sport.mgr.resource.model.Payment">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-13 15:52:10.
    -->
    update payment
    <set>
      <if test="payment != null">
        payment = #{payment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.digitalchina.sport.mgr.resource.model.Payment">
    <!--
      WARNING - @mbggenerated
      Generated on 2017-06-13 15:52:10.
    -->
    update payment
    set payment = #{payment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="getAllPaymentList" resultType="java.util.HashMap">
    SELECT m.id, m.payment FROM payment m
    WHERE 1=1
    order by m.sort
  </select>

  <select id="getAvailPaymentList" resultType="java.util.HashMap">
    SELECT m.id, m.payment FROM payment m
    left join training_institution_wp t
    on m.id = t.payment_id and t.institution_id = #{institutionId} and t.merchant_id = #{merchantId}
    WHERE 1=1
    and t.payment_id is null
    order by m.sort
  </select>
</mapper>