<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.digitalchina.sport.mgr.resource.dao.TimeIntervalMapper">
  <resultMap id="BaseResultMap" type="com.digitalchina.sport.mgr.resource.model.TimeInterval">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="time_code" jdbcType="VARCHAR" property="time_code" />
    <result column="substadium_id" jdbcType="VARCHAR" property="substadium_id" />
    <result column="time_inter" jdbcType="VARCHAR" property="time_inter" />
    <result column="time_sort" jdbcType="INTEGER" property="time_sort" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creat_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <!--根据场馆查询时间策略-->
    <select id="getTimeIntervalByStadiumid" resultType="java.util.Map" parameterType="HashMap">
        SELECT id,time_name,status
        FROM  time_frame
        WHERE stadium_id=#{stadium_id}
    </select>
  <!--根据时段编号查询时间策略-->
    <select id="getTimeIntervalByTimecode" resultType="java.util.Map" parameterType="HashMap">
        SELECT id,time_inter,time_sort,substadium_id
        FROM  time_interval
        WHERE time_code=#{time_code}
    </select>

    <!-- 根据场馆查询状态正常的时间策略 -->
    <select id="getNormalTimeIntervalByStadiumid" parameterType="HashMap" resultType="HashMap">
        SELECT id,time_name,status
        FROM  time_frame
        WHERE status = '1'
        AND stadium_id=#{stadium_id}
    </select>
</mapper>