<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.digitalchina.sport.mgr.resource.dao.TrainInstitutionMapper">

    <!--获取培训机构的id和名称 用于添加课程时选择机构的列表（后面可扩展）-->
    <select id="listTrainInstitution" resultType="java.util.HashMap">
        SELECT id, org_name FROM training_institution WHERE status = '1'
    </select>

</mapper>