<section>
    <div class="container-fluid" style="margin-top: 30px">
        <form onsubmit="return false;" class="form-horizontal" action="#" id="addForm">
            <table id="contentTable" class="table table-bordered table-hover definewidth m10 control-group">
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>名称</td>
                    <td class="alignleft"><input type="text" id="mainstudiumname" name="mainstudiumname"/></td>
                </tr>
                <tr class="controls">
                    <td class="alignright" width="10%"><span class="red">*</span>区域</td>
                    <td class="alignleft">
                        <!--<select id="mainStadiumID1">-->
                            <!--<option th:each="mainStadium,eStat:${mainStadiumList}" th:value="${mainStadium.id}" th:text="${mainStadium.name}"></option>-->
                        <!--</select>-->
                    </td>
                    <td class="alignleft">
                        <!--<select id="mainStadiumID2">-->
                            <!--<option th:each="mainStadium,eStat:${mainStadiumList}" th:value="${mainStadium.id}" th:text="${mainStadium.name}"></option>-->
                        <!--</select>-->
                    </td>
                    <td class="alignleft">
                        <!--<select id="mainStadiumID3">-->
                            <!--<option th:each="mainStadium,eStat:${mainStadiumList}" th:value="${mainStadium.id}" th:text="${mainStadium.name}"></option>-->
                        <!--</select>-->
                    </td>
                </tr>
                <tr class="controls">
                    <td class="alignright" width="10%"><span class="red">*</span>地址</td>
                    <td class="alignleft"><input type="text" id="address" name="address"/></td>
                </tr>
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>电话</td>
                    <td class="alignleft"><input type="text" id="telephone" name="telephone"/></td>
                </tr>
                <tr class="controls">
                    <td width="10%" class="alignright"><span class="red">*</span>开放时间</td>
                    <td><input style="width:105px;float: none" type="text" id="checkLimitedStartTime" onClick="WdatePicker({dateFmt:'HH:mm',startDate:'07:00',alwaysUseStartDate:true,maxDate:'#F{$dp.$D(\'checkLimitedEndTime\',{m:-30})}'})" class="Wdate"></td>
                </tr>
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>简介</td>
                    <!--<td class="alignleft">-->
                        <!--<textarea id="refundDescription" name="refundDescription" style="width:500px;height:200px;"  th:text="${model.refundDescription}"></textarea>-->
                    <!--</td>-->
                </tr>
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>地理位置</td>
                    <td><input type="text" id="lag" name="lag" value="精度"/></td>
                    <td><input type="text" id="lat" name="lat" value="纬度"/></td>
                </tr>
                <tr class="controls">
                    <td class="alignright"><span class="red">*</span>状态</td>
                    <td class="alignleft">
                        <input value="0" type="checkbox" checked name="checkTicketType">正常
                        <input value="1" type="checkbox" name="checkTicketType">闭馆
                        <input value="2" type="checkbox" name="checkTicketType">下线
                    </td>
                </tr>
                <tr>
                    <td class="tableleft"></td>
                    <td class="text-right">
                        <button type="submit" class="query-btn" id="savemainstaium">保存</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</section>

<script type="text/javascript">
    $(function(){
        var valConfig = {
            rules: {
                title: {
                    required: true,
                    minlength: 2
                }
            },
            submitHandler: function(){mainstadium.doAdd()}
        };
        $('#addForm').validate(valConfig);
    });
</script>