<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>主场馆信息</title>
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <!--  <script src="../../static/lib/js/utils.js" th:src="@{/lib/js/utils.js}"></script>-->
    <script src="../../static/lib/My97DatePicker/WdatePicker.js"
            th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <script src="../../static/lib/My97DatePicker/calendar.js" th:src="@{/lib/My97DatePicker/calendar.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <!--    <link rel="stylesheet" href="../../static/lib/kindeditor-4.1.7/themes/default/default.css"
              th:href="@{/lib/kindeditor-4.1.7/themes/default/default.css}"/>-->
    <!--    <script src="../../static/lib/kindeditor-4.1.7/kindeditor-all-min.js"
                th:src="@{/lib/kindeditor-4.1.7/kindeditor-all-min.js}"></script>-->
    <!--    <script src="../../static/lib/kindeditor-4.1.7/lang/zh_CN.js"
                th:src="@{/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>-->
    <script src="../../static/js/mainstadium/mainstadium.js"
            th:src="@{/js/mainstadium/mainstadium.js}"></script>
    <script src="../../static/lib/js/common.js"
            th:src="@{/lib/js/common.js}"></script>
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <script src="../../static/lib/distpicker/distpicker.js" th:src="@{/lib/distpicker/distpicker.js}"></script>
    <script src="../../static/lib/distpicker/distpicker.data.js" th:src="@{/lib/distpicker/distpicker.data.js}"></script>

    <style>
        p.title {
            font-size: 18px;
            font-weight: bold;
        }

        .inputw100 {
            width: 100px;
        }

        #contentTable td.alignleft {
            text-align: left;
        }

        #contentTable td.alignright {
            text-align: right;
        }

        .form-horizontal .control-group .controls input {
            float: none;
        }

        .form-horizontal .control-group .controls label {
            float: none;
        }
    </style>
</head>
<body>

<!-- 内容区域 -->
<div>
    <div class="container-fluid pt20">
        <div>
            <form action="" id="getForm" method="post">
                <table class="table">
                    <tr class="controls">
                        <td>场馆名称:</td>
                        <td><input type="text" id="stadiumnametext" name="name"/></td>
                        <td>
                            <button type="submit" class="btn btn-success" id="findStadiumname">查询</button>
                            <button type="reset" id="resetBtn" class="btn btn-success">重置</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div>
            <button type="button" class="btn btn-success" id="addNew">新增</button>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-content no-padding" id="c">
                    </div>
                    <div id="div2"></div>

                    <div id="page" class="page" align="right" style="margin-right: 10px;">
                    </div>
                </div>
            </div>

            <div id="div3"></div>
        </div>
    </div>
</div>

</body>
</html>