<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主场馆信息</title>
    <link rel="stylesheet" href="../../static/lib/css/bootstrap.min.css" th:href="@{/lib/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/common.css" th:href="@{/lib/css/common.css}"/>
    <link rel="stylesheet" href="../../static/lib/css/validate.css" th:href="@{/lib/css/validate.css}"/>
    <script src="../../static/lib/js/jquery.1.11.1.min.js" th:src="@{/lib/js/jquery.1.11.1.min.js}"></script>
    <script src="../../static/lib/js/utils.js" th:src="@{/lib/js/utils.js}"></script>
    <script src="../../static/lib/My97DatePicker/WdatePicker.js"
            th:src="@{/lib/My97DatePicker/WdatePicker.js}"></script>
    <script src="../../static/lib/My97DatePicker/calendar.js" th:src="@{/lib/My97DatePicker/calendar.js}"></script>
    <script src="../../static/lib/js/bootstrap.min.js" th:src="@{/lib/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../../static/lib/kindeditor-4.1.7/themes/default/default.css"
          th:href="@{/lib/kindeditor-4.1.7/themes/default/default.css}"/>
    <script src="../../static/lib/kindeditor-4.1.7/kindeditor-all-min.js"
            th:src="@{/lib/kindeditor-4.1.7/kindeditor-all-min.js}"></script>
    <script src="../../static/lib/kindeditor-4.1.7/lang/zh_CN.js"
            th:src="@{/lib/kindeditor-4.1.7/lang/zh_CN.js}"></script>


    <script src="../../static/lib/js/common.js" th:src="@{/lib/js/common.js}"></script>
    <script src="../../static/js/mainstadium/mainstadium.js" th:src="@{/js/mainstadium/mainstadium.js}"></script>

    <!--<script src="http://upms.eastdc.cn:82/scripts/common.js"></script>-->
    <script src="../../static/lib/layer/layer.js" th:src="@{/lib/layer/layer.js}"></script>
    <script th:src="@{/lib/layPage/laypage.js}"></script>
    <script th:src="@{/lib/js/jquery.validate.js}"></script>
    <style>
        p.title {
            font-size: 18px;
            font-weight: bold;
        }

        .inputw100 {
            width: 100px;
        }

        #contentTable td.alignleft {
            text-align: left;
        }

        #contentTable td.alignright {
            text-align: right;
        }

        .form-horizontal .control-group .controls input {
            float: none;
        }

        .form-horizontal .control-group .controls label {
            float: none;
        }
        .table td {
             border-top: none;
         }
        .border{
            border-bottom: 1px solid #ddd;
        }
        .pb10{
            padding-bottom: 10px;
        }
        .mt15{
            margin-top: 15px;
        }
        .mb20{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<section>
    <div class="container-fluid">
        <div class="pb10 border mt20">
            当前位置：<a href="javascript:;">场馆预订</a>
        </div>
        <form class="form-horizontal mt10" action="/mainStadiumController/mainstadiumforyearticket.html" id="searchForm" method="POST">
            <input type="hidden" id="myPage" name="page" th:value="${page}">
            <input type="hidden" name="pageSize" id="pageSize" th:value="${pageSize}">
            <table class="table">
                <tr class="controls">
                    <td>场馆名称:<input type="text" id="name" name="name" th:value="${name}"/>
                        <button type="submit" class="btn btn-success" id="findStadiumname">查询</button>
                        <button type="reset" id="resetBtn" class="btn btn-success">重置</button>
                    </td>
                </tr>
            </table>
        </form>
        <div>
            <table id="dataTable" class="table table-bordered" >

                <thead>
                <tr>
                    <th>场馆名称</th>
                    <th>区域</th>
                    <th>地址</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody th:remove="all-but-first" th:unless="${#lists.isEmpty(mainstadiumlist)}">
                <tr th:each="obj, objStat: ${mainstadiumlist}">
                    <input type="hidden" th:value="${obj.id}"/>
                    <td th:text="${obj.name}"></td>
                    <td th:text="${obj.provincial_level}+${obj.city_level}+${obj.district_level}"></td>
                    <td th:text="${obj.address}"></td>
                    <td th:text="${obj.status}"></td>
                    <td>
                        <a th:href="@{/yearstrategyticket/list.html(mainStadiumId=${obj.id})}"
                           th:data="${obj.id}">门票</a>
                    </td>
                </tr>
                </tbody>


                <tbody th:if="${#lists.isEmpty(mainstadiumlist)}">
                <tr>
                    <td colspan="12">没有符合查询条件的记录！</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="page" class="page" align="right" style="margin-right: 10px;">
        </div>
    </div>
</section>
<div id="addDialogs">
</div>
</body>
<script th:inline="javascript">
    $(function () {
        laypage({
            cont: 'page',
            pages: [[${pageModel.totalPage}]], //可以叫服务端把总页数放在某一个隐藏域，再获取。假设我们获取到的是18
            curr: function () { //通过url获取当前页，也可以同上（pages）方式获取
                var page = [[${pageModel.currentPage}]];
                return page;
            }(),
            jump: function (e, first) { //触发分页后的回调
                if (!first) { //一定要加此判断，否则初始时会无限刷新
                    $("#myPage").val(e.curr);
                    $("#searchForm").submit();
                }
            }
        });
        $("#findStadiumname").click(function () {
            $("#myPage").val("0");
            $("#searchForm").submit();
        });
    });
</script>
</html>