<div class="widget-content no-padding" th:fragment="dataList" xmlns:th="http://www.thymeleaf.org">
    <div id="dataTable_wrapper" class="dataTables_wrapper no-footer">
        <table id="dataTable" class="table table-bordered" th:unless="${#lists.isEmpty(mainstadiumlist)}">

            <thead>
            <tr>
                <th>场馆名称</th>
                <th>区域</th>
                <th>地址</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody th:remove="all-but-first">
            <tr th:each="obj, objStat: ${mainstadiumlist}">
                <input type="hidden" th:value="${obj.id}"/>
                <td th:text="${obj.name}"></td>
                <td th:text="${obj.provincial_level}+${obj.city_level}+${obj.district_level}"></td>
                <td th:text="${obj.address}"></td>
                <td th:text="${obj.status}"></td>
                <td>
                    <a class="edit" th:data="${obj.id}">编辑</a>
                    &nbsp;&nbsp;&nbsp;
                    <a id="delete" th:data="${obj.id}">删除</a>
                    &nbsp;&nbsp;&nbsp;
                    <a id="editis_special" th:data="${obj.id}">设为精选</a></td>
            </tr>
            </tbody>


            <tbody th:if="${#lists.isEmpty(mainstadiumlist)}">
            <tr>
                <td colspan="12">没有符合查询条件的记录！</td>
            </tr>
            </tbody>

            <input id="pageAllCount" type="hidden" th:value="${page.totalSize}"/>
        </table>

    </div>
</div>
